.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "h h"
    "c c"
    "b b";

    grid-template-columns: 50% 50%;
    grid-auto-rows: 10% 75% 15%;
}

.header{
    background-color: #006E8C;
    grid-area: h;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.content{
    height: 100%;
    width: 100%;
    /* margin: 5% 0 5% 0; */
    margin: auto 0;
    grid-area: c;
    justify-items: center;
    display: grid;
    grid-template-areas: "l i";
    grid-template-columns: 30% 70%;

}

.labels{
    margin-top: 25px;
    height: 100%;
    width: 100%;
    grid-area: l;
    display: grid;
    grid-auto-rows: 20%;
    align-items: center;
    justify-items: end;
    row-gap: 10px;
}

.inputs{
    margin-top: 25px;
    grid-area: i;
    display: grid;
    grid-auto-rows: 20%;
    row-gap: 10px;
    align-items: center;
    justify-items: start;
}

.buttons{
    grid-area: b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.closeButton{
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2px;
    margin-top: 2px;
}

.closeButton:hover{
    color: #ddd;
    cursor: pointer;
}

.dropdown {
    width: 80%;
    height: 100%;
    max-height: 56px;
    /* padding-top: 5px; */
    min-width: 70%;
}

.create-button {
    height: 40px;
    width: 80px;
    background-color: #006E8C;
    color: white;
    border: none;
    font-weight: bold;
}

.create-button:hover {
    cursor: pointer;
    background-color: #005f79;
}

.cancel-button {
    height: 40px;
    width: 80px;
    background-color: #ddd;
    color: black;
    border: none;
    font-weight: bold;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: #c9c9c9;
}

.delete-button{
    height: 40px;
    width: 80px;
    background-color: #ff0000;
    color: white;
    border: none;
    font-weight: bold;
}

.delete-button:hover {
    cursor: pointer;
    background-color: #ac0000;
}

.datepicker {
    width: 50%;
    height: 90%;
    margin: 5px 0;
    max-height: 56px;
}

::ng-deep .mat-datepicker-content {
    border: 1px solid black
}

mat-option {
    border: 1px solid #cfcfcf;
    border-top-style: none;
}