.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.graph{
    height: 90%;
    width: 100%;
    margin: 0 2%;

    /* Test */
    display: flex;
    flex-direction: column;
}

.sidebar{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    outline: 1px solid #888;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button{
    margin-bottom: 10px;
}

.graph-selector{
    display: flex;
    justify-content: space-evenly;
}

.bar-chart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.pie-chart-container{
    height: 90%;
    display: flex;
    align-items: center;
}

.pie-holder{
    height: 100%;
    width: 50%;
}

.dropdown{
    outline: solid 1px #888;
    border-radius: 5px;
    width: 30%;
}

.button{
    height: 65px;
    width: 65px;
    margin: 0;

}
.button mat-icon{
    transform: scale(2)
}

.selected,
.selected:hover{
    background-color: #00c8ff;
    border-color: #00aaff;
}

.button-label {
    font-size: 12px;
    color: #333;
    margin-top: 4px;
}

.no-data{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
