.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    outline: 1px solid red;
    flex-wrap: wrap;
    
}

.graph{
    outline: green solid 1px;
    height: 50%;
    width: 50%;
}