<div class="OuterWrapper">
  <div class="Searchfield">
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Søge efter filnavn</mat-label>
        <input matInput placeholder="Skriv filnavnet her " (input)="onSearchQueryInput($event)">
    </mat-form-field>
    
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Vælge tag</mat-label>
        <mat-select [value]="alle" (selectionChange)="onFileTagQueryInput($event)">
            <mat-option [value]="alle" >Alle</mat-option>
            <mat-option *ngFor="let x of fileTags" [value]="x.tagName">{{x.tagName}}</mat-option>
        </mat-select>
    </mat-form-field>      
</div>

  <div class="table">
    <div class="TableForFiles">
      <table class="TableBox"  matSort [matSortDisableClear]="true" (matSortChange)="sortData($event)">
        <tr>
          <th mat-sort-header="fileName">
            Fil navn
          </th>
          <th mat-sort-header="personName">
            Person navn
          </th>
          <th mat-sort-header="uploadDate">
            Upload dato
          </th>
          <th  mat-sort-header="tag">
            Tag
          </th>
          <th>
            Download
          </th>
          <th>
            Slet
          </th>
        </tr>
        <tr *ngFor="let file of showedList; let i = index">
          <td>{{file.fileName}}</td>
          <td><a href="/employee/{{file.person.personId}}">{{file.person.name}}</a></td>
          <td class="End--date">
            <p class="EndDateShow">{{file.uploadDate | date: 'dd/MM/yyyy'}}</p>
            <div class="Progress"></div>
          </td>
          <td>{{file.fileTag.tagName}}</td>
          <td>
            <mat-icon (click)="downloadFile(file.fileId, file.contentType, file.fileName)" value="Download" >download</mat-icon>
          </td>
          <td>
            <mat-icon (click)="deleteFile(file.fileId, i)" value="Delete" >delete</mat-icon>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- <div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <h2>View All Files</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>file Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files">
            <td>{{file.fileName}}</td>
            <td>
              <input type="button" class="btn btn-success"
                (click)="downloadFile(file.fileId, file.contentType, file.fileName)" value="Download" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->