<!-- <div>
    <span>Create</span>
    <span>edit</span>
    <span>delete</span>
    <div>
        <app-create></app-create>
        <app-edit></app-edit>
        <app-delete></app-delete>
    </div>
</div> -->
<div class="box">
    <div class="button-grid">
        <div class="action-button" (click)="toggleComponent('create')">Create</div>
        <div class="action-button" (click)="toggleComponent('edit')">Edit</div>
        <div class="action-button" (click)="toggleComponent('delete')">Delete</div>
    </div>
    <div>
        <app-create *ngIf="isActiveComponent('create')"></app-create>
        <app-edit *ngIf="isActiveComponent('edit')"></app-edit>
        <app-delete *ngIf="isActiveComponent('delete')"></app-delete>
    </div>
        <!-- <ng-container #dynamicComponent></ng-container> -->
  </div>
  