<!-- <div class="newContainer">
  <div class="newHeader">
    <mat-icon class="newCloseButton" (click)="closeDialog()">cancel</mat-icon>
  </div>
  <form #myForm="ngForm" class="newFileUpload">
    <label class="fileInputLabel">
      <p>Vælg Fil</p>
      <input id="file" type="file" (change)="fileChange($any($event).target.files)" onclick="this.value = null"> onclick allows you to select the same file again (skal udkommenteres igen)
    </label>
    <mat-form-field subscriptSizing="dynamic" class="newDropdown">
      <mat-label *ngIf="fileTagId === 0 || fileTagId === null">Vælg Filkategori:</mat-label>
      <mat-select [(ngModel)]="fileTag" name="fileTag" (selectionChange)="onFileTagChange($event.value)">
        <mat-option [value]="null">- Ingen -</mat-option>
        <mat-option *ngFor="let tag of selectorFileTags" [value]="tag">{{ tag.tagName }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="fileConfirmation">
    <p *ngIf="!file">Ingen fil valgt.</p>
    <p *ngIf="file">{{file.name}}</p>
    <div>
    <button [disabled]="!file" class="confirmButton" (click)="confirmFile()">
      <mat-icon class="add-icon">add</mat-icon>
    </button>
    <button [disabled]="!file" class="removeButton" (click)="removeCurrentFile()">
      <mat-icon class="add-icon">clear</mat-icon>
    </button>
  </div>
  </div>
    <div class="fileListActions">
      <table class="TableBox">
        <tr>
          <th>Filnavn</th>
          <th>Filkategori</th>
          <th>Fjern</th>
        </tr>
        <tr *ngFor="let file of displayFiles; let i = index">
          <td>{{file.name}}</td>
          <td *ngIf="!file.fileTag">Ingen</td>
          <td *ngIf="file.fileTag">{{file.fileTag.tagName}}</td>
          <td><mat-icon class="clear-icon" (click)="removeDisplayFile(i)">clear</mat-icon></td>
        </tr>
      </table>
    </div>
    <div class="newBottom">
      <button [disabled]="displayFiles.length < 1" class="upload-button" (click)="onSubmit()">Upload</button>
    </div>
</div>
 -->



 <!-- 
  skal have lavet upload færdig, så den uploader når du trykker på den blå knap
  og visuelt er der nogle manlger
  
  Har brugt dette til at lave file upload:  
  https://medium.com/@tarekabdelkhalek/how-to-create-a-drag-and-drop-file-uploading-in-angular-78d9eba0b854 -->
<div class="popup" appFileuploadPopup (fileDropped)="onFileDropped($event)">
  <div class="dropzone">
    <input class="browser" type="file" #fileDropRef id="fileDropRef" multiple (change)="fileChange($any($event).target.files)">
    <!-- <mat-icon>cloud_upload</mat-icon> -->
    <img src="../../../../assets/—Pngtree—file upload icon_4646955.png">
    <h3>Hiv og slip filer</h3>
    <h3 class="space">eller</h3>
    
  </div>
  <div class="submitbutton">
    <button (click)="test()" >Søg efter filer</button>
  </div>
</div>
<div class="files-list" >
  <div class="single-file" *ngFor="let file of this.rawFiles; let i = index">
    <div class="file-icon" style="width: 50px">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
        <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 " />
        <g>
          
        </g>
        <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14 " />
      </svg>
    </div>
    <div class="info">
      <div style="display: flex;">
        <h4 class="name">
          {{ file?.name }}
        </h4>

        <!-- Skal tilføjes filetag til dette punkt -->

        <form class="status dropdown" style=" overflow: hidden;">
          <select name="fileTag"  class="selectFileTag">
            <option *ngFor="let filetag of this.selectorFileTags let i = index" [value]="i" > 
              {{filetag.tagName}}
            </option>
          </select>
        </form>
      </div>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
      <app-progress [progress]="file?.progress"></app-progress>
    </div>

    <div class="delete" (click)="deleteFile(i)">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
        <path fill="#B1B1B1" fill-rule="nonzero"
          d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
      </svg>
    </div>
  </div>
</div>