/* .newCloseButton {
    color: rgb(53, 53, 53);
}

.newCloseButton:hover {
    color: black;
    cursor: pointer;
}

.newDropdown {
    width: 50%;
    height: 50px;
}

.fileInputLabel {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: #4265ff;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
    outline: 1px solid black;
    display: grid;
    place-content: center;
}

.fileInputLabel:hover {
    background-color: #3653d4;
}

.confirmButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    background-color: #006E8C;
    border: none;
    outline: 1px solid black;
}

.confirmButton:disabled:hover{
    background-color: #ddd;
    cursor: default;
}

.confirmButton:disabled{
    background-color: #ddd;
}

.confirmButton:hover {
    cursor: pointer;
    background-color: #005f79;
}

.removeButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    background-color: red;
    border: none;
    outline: 1px solid black;
}

.removeButton:disabled:hover{
    background-color: #ddd;
    cursor: default;
}

.removeButton:disabled{
    background-color: #ddd;
}

.removeButton:hover {
    cursor: pointer;
    background-color: rgb(197, 0, 0);
}

.clear-icon{
    color: red;
}

.clear-icon:hover{
    cursor: pointer;
    background-color: #999999;
    border-radius: 50%;
}

.add-icon {
    color: white;
    vertical-align: middle;
}

.upload-button {
    height: 40px;
    width: 80px;
    margin-right: 25px;
    background-color: #006E8C;
    color: white;
    border: none;
    font-weight: bold;
}

.upload-button:disabled:hover {
    background-color: #ddd;
    cursor: default;
}

.upload-button:disabled {
    background-color: #ddd;
}

.upload-button:hover {
    cursor: pointer;
    background-color: #005f79;
}

input[type="file"] {
    display: none;
}

.newContainer {
    width: 600px;
    height: 500px;

    display: grid;
    grid-template-areas:
        "nh nh"
        "nfu nfu"
        "fc fc"
        "nfa nfa"
        "nb nb";

    grid-auto-rows: 5% 15% 10% 55% 15%;
    grid-auto-columns: 70% 30%;
}

.newHeader {
    grid-area: nh;
    display: grid;
    place-content: center end;
}

.fileConfirmation {
    grid-area: fc;
    display: grid;
    grid-template-columns: 70% 30%;
    border-bottom: 1px solid #ddd;
    align-items: center;
    justify-items: center;
}

.newFileUpload {
    grid-area: nfu;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fileListActions {
    grid-area: nfa;
    margin: 10px 25px;
}

.newBottom {
    grid-area: nb;
    display: grid;
    place-content: center end;
}

.fileListNames {
    grid-area: nfn;
}

.TableBox {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.TableBox th:hover {
    background-color: #005f79;
    cursor: pointer;
}

.TableBox th {
    position: sticky;
    top: 0px;
    font-size: 1rem;
    border-left: 1px solid #ddd;
}

.TableBox th:first-child {
    border-left: 1px solid #006E8C;
}

.TableBox th:last-child {
    border-right: 1px solid #006E8C;
}

th {
    -webkit-user-select: none;
    /* Safari */
/* -ms-user-select: none; */
/* IE 10 and IE 11 */
/* user-select: none; */
/* Standard syntax */
/* }

.TableBox th {
    width: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #006E8C;
    color: white;
}

.TableBox tr:nth-child(even) {
    background-color: #f2f2f2;
}

.TableBox tr:hover {
    background-color: #ddd;
}

.TableBox td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
} */

.popup {
    height: 33vw;
    width: 33vw;
}

.selectFileTag{
    border:none; 
    padding: 0;  
    height: 90%; 
    width: 25%;
}

.dropdown {
    /* width: 70%; */
    height: 95%;
    max-height: 56px;
    /* padding-top: 5px; */
    min-width: 70%;
}

.submitbutton{
    display: flex;
    justify-content: center;
}

.dropzone {
    width: auto;
    height: auto;
    padding: 2rem;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

img {
    margin-left: 2%;
    /*For at gøre den ca centreret*/
    width: 65%;
    height: 65%;
}

input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.space {
    margin-bottom: 2%;
}

button {
    color: white;
    border-radius: 21.5px;
    border: none;
    background-color: #006E8C;
    padding: 8px 16px;
}

button:hover{
    cursor: pointer;
    background-color: #005a74;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #38424c;
}

.browser:hover {
    cursor: pointer;
}



.fileover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}

.files-list {
    margin-top: 1.5rem;
    max-height: 500px;
    overflow-y: scroll;

    .single-file {
        width: 33vw;
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        align-items: center;
        border: dashed 1px #979797;
        margin-bottom: 2px;

        .delete {
            display: flex;
            margin-left: 0.5rem;
            cursor: pointer;
            align-self: flex-end;
        }


        display: flex;
        flex-grow: 1;

        .name {
            font-size: 14px;
            font-weight: 500;
            color: #353f4a;
            margin: 0;
        }

        .size {
            font-size: 12px;
            font-weight: 500;
            color: #a4a4a4;
            margin: 0;
            margin-bottom: 0.25rem;
        }

        .info {
            width: 100%
        }
    }
}