
<div class="grid">
    <div class="innerBox" *ngIf="!leaderView">
        <div class="OuterWrapper">
            <div class="table">
                <div class="TableForPeople">
                    <div class=TableBoxForCourse *ngFor="let module of modules">
                        <div class="picker" (click)="toggleTable(module)" style="justify-content: center;">
                            {{module.name}}
                        </div>
                        <div class="List" *ngIf="isCourseListActive(module.moduleId)">
                            <div class="TableForPeopleInner">
                                <table class="TableBox" matSort [matSortDisableClear]="true" (matSortChange)="sortData($event, 'mc')">
                                    <tr>
                                        <th mat-sort-header="moduleCourseType">
                                            Kursus Type
                                        </th>
                                        <th mat-sort-header="moduleCourseStartDate">
                                            Start Dato
                                        </th>
                                        <th mat-sort-header="moduleCourseEndDate">
                                            Slut Dato
                                        </th>
                                    </tr>
                                    <tr [ngClass]="{'selected-course': selectedCourseId == course.courseId}"
                                        *ngFor="let course of showedCourseList, let i = index"
                                        (click)="setSelectedCourseId(course.courseId)">
                                        <td>{{courseType[course.courseType]}}</td>
                                        <td>
                                            <p>{{course.startDate | date: 'dd/MM/yyyy'}}</p>
                                        </td>
                                        <td>
                                            <p>{{course.endDate | date: 'dd/MM/yyyy'}}</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bunden"></div>
        </div>
    </div>
    <div class="innerBox" *ngIf="!leaderView">
        <div class="OuterWrapper">
            <div class="table">
                <div class="TableForPeople">
                    <table class="TableBox" matSort [matSortDisableClear]="true" (matSortChange)="sortData($event, 'mt')">
                        <tr>
                            <th mat-sort-header="moduleTeacherName" style="width: 30%;">
                                Navn
                            </th>
                            <th mat-sort-header="moduleTeacherInitials" style="width: 7%;">
                                Initialer
                            </th>
                            <th mat-sort-header="moduleTeacherAfdeling" style="width: 23%;">
                                Afdeling
                            </th>
                            <th mat-sort-header="moduleTeacherLocation" style="width: 16%;">
                                Location
                            </th>
                            <th mat-sort-header="moduleTeacherEndDate" style="width: 10%;">
                                Slut dato
                            </th>                            
                            <th mat-sort-header="moduleCourseStatus" style="width: 14%;">
                                Status
                            </th>
                        </tr>
                        <tr *ngFor="let person of persons">
                            <td>
                                <p class="Name">{{person.name}}</p>
                            </td>
                            <td>
                                <p>{{person.initials}}</p>
                            </td>
                            <td class="department">
                                <p class="department">{{person.department?.name}}</p>
                            </td>
                            <td class="department">
                                <p class="StartDateShow">{{person.location?.name}}</p>
                            </td>
                            <td class="End--date">
                                <p class="EndDateShow">{{person.endDate | date: 'dd/MM/yyyy'}}</p>
                                <div #progress class="Progress" id="{{person.personId}}"></div>
                            </td>
                            <td *ngFor="let personCourse of person.personCourses">
                                <p *ngIf="personCourse.courseId == selectedCourseId">{{status[personCourse.status].replaceAll('_', ' ')}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="bunden"></div>
        </div>
    </div>
    <div class="innerBoxAlt" *ngIf="leaderView">
        <div class="OuterWrapper">
            <div class="table">
                <div class="TableForPeople">
                    <div class=TableBox *ngFor="let leader of showedLeaderList">
                        <div class="picker" (click)="toggleTable(leader)" style="justify-content: center;">
                            {{leader.name}}</div>
                        <div class="List" *ngIf="isLeaderListActive(leader.userId)">
                            <div class="TableForPeopleInner">
                                <table class="TableBox" matSort [matSortDisableClear]="true"
                                    (matSortChange)="sortData($event, 'lt')">
                                    <tr>
                                        <th mat-sort-header="leaderTeacherName" style="width: 33%;">
                                            Navn
                                        </th>
                                        <th mat-sort-header="leaderTeacherInitials" style="width: 8%;">
                                            Initialer
                                        </th>
                                        <th mat-sort-header="leaderTeacherAfdeling" style="width: 25%;">
                                            Afdeling
                                        </th>
                                        <th mat-sort-header="leaderTeacherLocation" style="width: 20%;">
                                            Location
                                        </th>
                                        <th mat-sort-header="leaderTeacherEndDate" style="width: 14%;">
                                            Slut dato
                                        </th>
                                    </tr>
                                    <tr [ngClass]="{'selected-course': selectedPersonId == person.personId}" *ngFor="let person of leaderPersons"
                                        (click)="setSelectedPersonId(person.personId)">
                                        <td>
                                            <p class="Name">{{person.name}}</p>
                                        </td>
                                        <td>
                                            <p>{{person.initials}}</p>
                                        </td>
                                        <td class="department">
                                            <p class="department">{{person.department?.name}}</p>
                                        </td>
                                        <td class="department">
                                            <p class="StartDateShow">{{person.location?.name}}</p>
                                        </td>
                                        <td class="End--date">
                                            <p class="EndDateShow">{{person.endDate | date: 'dd/MM/yyyy'}}</p>
                                            <div #progress class="Progress" id="{{person.personId}}"></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bunden"></div>
        </div>
    </div>
    <div class="innerBoxAlt" *ngIf="leaderView">
        <div class="OuterWrapper">
            <div class="table">
                <div class="TableForPeople">
                    <table class="TableBox" matSort [matSortDisableClear]="true" (matSortChange)="sortData($event, 'lc')">
                        <tr>
                            <th mat-sort-header="leaderCourseName" style="width: 45%;">
                                Navn
                            </th>
                            <th mat-sort-header="leaderCourseType" style="width: 8%;">
                                Type
                            </th>
                            <th mat-sort-header="leaderCourseStartDate" style="width: 14%;">
                                Start Dato
                            </th>
                            <th mat-sort-header="leaderCourseEndDate" style="width: 14%;">
                                Slut Dato
                            </th>
                            <th mat-sort-header="leaderCourseStatus" style="width: 20%;">
                                Status
                            </th>
                        </tr>
                        <tr *ngFor="let personCourse of showedTeacherCourseList">
                            <td>
                                <p class="Name">{{personCourse.course?.module?.name}}</p>
                            </td>
                            <td>
                                <p>{{courseType[personCourse.course!.courseType]}}</p>
                            </td>
                            <td>
                                <p>{{personCourse.course?.startDate| date: 'dd/MM/yyyy'}}</p>
                            </td>
                            <td>
                                <p>{{personCourse.course?.endDate | date: 'dd/MM/yyyy'}}</p>
                            </td>
                            <td>
                                <p>{{status[personCourse.status].replaceAll('_', ' ')}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="bunden"></div>
        </div>
    </div>
    <div [ngClass]="{'innerBox': !leaderView, 'innerBoxAlt': leaderView}">
        <section class="example-section" style="flex: 1;">
            <mat-checkbox class="example-margin" (change)="toggleView($event.checked)">Se fra
                Uddannelsesleder</mat-checkbox>
        </section>
        <mat-form-field subscriptSizing="dynamic" style="flex: 1;">
            <mat-label>Vælge type</mat-label>
            <mat-select [value]="selectedTypes" (selectionChange)="onTypeQueryInput($event)" multiple>
                <mat-option [value]="any">Alle</mat-option>
                <mat-option *ngFor="let type of courseType" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic" class="test" *ngIf="showEducationBossesDropdown && leaderView"
            style="flex: 1;">
            <mat-label>Vælge Uddanelseschef</mat-label>
            <mat-select [value]="selectedEducationBoss" (selectionChange)="onEducationBossQueryInput($event)">
                <mat-option [value]="any">Alle</mat-option>
                <mat-option *ngFor="let educationBoss of educationBosses"
                    [value]="educationBoss.userId">{{educationBoss.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="addButtons" >
            <button mat-raised-button class="moduleCourse" (click)="exportModulesToExcel()">Tilføj kursus til modul</button>
        </div>
        <div class="addButtons" *ngIf="!leaderView && activeCourseList">
            <button mat-raised-button class="moduleCourse" (click)="openAddCourseToModulePopup()">Tilføj kursus til modul</button>
        </div>
        <div class="addButtons" *ngIf="!leaderView && courseSelected">
            <button mat-raised-button (click)="openAddPersonToCoursePopup()">Tilføj lærer til kursus</button>
        </div>
        <div class="addButtons" *ngIf="leaderView && personSelected">
            <button mat-raised-button (click)="openAddPersonCoursePopup()" class="teacherCourse">Tilføj kursus til
                lærer</button>
        </div>
    </div>
</div>