<div class="grid">
    <span class="innerBox">
        <div>
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Vælge modul</mat-label>
                <mat-select [value]="alle" (selectionChange)="onModuleQueryInput($event)">
                    <mat-option [value]="alle">Alle</mat-option>
                    <mat-option *ngFor="let module of modules"
                        [value]="module.name">{{module.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Vælge modul</mat-label>
                <mat-select [value]="alle" (selectionChange)="onModuleQueryInput($event)">
                    <mat-option [value]="alle">Alle</mat-option>
                    <mat-option *ngFor="let module of modules"
                        [value]="module.name">{{module.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Vælge modul</mat-label>
                <mat-select [value]="alle" (selectionChange)="onModuleQueryInput($event)">
                    <mat-option [value]="alle">Alle</mat-option>
                    <mat-option *ngFor="let module of modules"
                        [value]="module.name">{{module.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </span>
        <span class="innerBox">
            <div class="OuterWrapper">
                <!-- <div class="Searchfield">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Vælge modul</mat-label>
                        <mat-select [value]="alle" (selectionChange)="onModuleQueryInput($event)">
                            <mat-option [value]="alle">Alle</mat-option>
                            <mat-option *ngFor="let module of modules"
                                [value]="module.name">{{module.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Vælge type</mat-label>
                        <mat-select [value]="alle" (selectionChange)="onTypeQueryInput($event)">
                            <mat-option [value]="alle">Alle</mat-option>
                            <mat-option *ngFor="let type of courseType" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="table">
                    <div class="TableForPeople">
                        <table class="TableBox" matSort [matSortDisableClear]="true" (matSortChange)="sortData($event)">
                            <tr>
                                <th mat-sort-header="Name" style="min-width: 39.5%;">
                                    Modul Navn
                                </th>
                                <th mat-sort-header="Type" style="min-width: 21.5%;">
                                    Type
                                </th>
                                <th mat-sort-header="StartDate" style="min-width: 12%;">
                                    Start dato
                                </th>
                                <th mat-sort-header="EndDate" style="min-width: 12%;">
                                    Slut dato
                                </th>
                            </tr>
                            <tr *ngFor="let x of showedList">
                                <td>
                                    <p routerLink="/employee/{{x.moduleId}}" class="employeeName">{{x.module.name}}</p>
                                </td>
                                <td>
                                    <p>{{courseType[x.courseType]}}</p>
                                </td>
                                <td class="Start--date">
                                    <p class="StartDateShow">{{x.startDate | date: 'dd/MM/yyyy'}}</p>
                                </td>
                                <td class="End--date">
                                    <p class="EndDateShow">{{x.endDate | date: 'dd/MM/yyyy'}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="bunden"></div>
            </div>

        </span>
    </div>