* {
  /* Don't remove, don't know why, but need it :) */
  overflow: visible;
}

.OuterWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(7, 1fr) 50px; */
  grid-template-areas: 
  "h h h h h h h h"
  "t t t t t t t t"
  "t t t t t t t t"
  "t t t t t t t t"
  "t t t t t t t t"
  "t t t t t t t t"
  "t t t t t t t t"
  "b b b b b b b b";
}

.Progress{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

.EndDateShow {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

.End--date {
  position: relative;
}

mat-form-field {
  min-width: 200px;
  margin-bottom: 15px;
}

.bunden {
  grid-area: b;
}

.table {
  grid-area: t;
}

.TableForPeople { 
  max-height: 100%;
  position: relative; 
  overflow-y: auto;
}

.TableForPeople::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.TableForPeopleInner { 
  /* border-radius: 5px; */
  box-shadow: 0 1px 3px 3px #888;
  max-height: 100%;
  /* margin: 0px 2.5%; */
  /* overflow: auto; */
  position: relative; /* Changed to relative positioning */
  outline: 1px solid black;  
  overflow-y: auto;
}

.TableBox {    
  width: 100%;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color: white;
}

.TableBox td {
  border: 1px solid #ddd;;
  text-align: center;
  font-size: large;
}

.TableBoxForCourse {   
  width: 100%;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color: white;
}

.TableBoxForCourse td {
  width: 33.33%;
  /* border: 1px solid #ddd;; */
  text-align: center;
  font-size: large;
}

.TableBox td:first-child{    
  border-left: 0px solid #ddd;
  text-align: center;
  font-size: large;
}
.TableBox td:last-child{    
  border-right: 0px solid #ddd;
  text-align: center;
  font-size: large;
}

.TableBox th:hover, .TableBoxForCourse th:hover {
  background-color: #005f79;
  cursor: pointer;
}

.TableBox th, .TableBoxForCourse th {
  position: sticky;
  top: 0px;
  font-size: 1rem;
  z-index: 101;
  background-color: #006E8C;
  color: white;
}

.TableBox tr:hover, .TableBoxForCourse tr:hover {
  background-color: #ddd;
}

.TableBoxForCourse td:first-child{    
  width: 33.33%;
  border-left: 0px solid #ddd;
  text-align: center;
  font-size: large;
}
.TableBoxForCourse td:last-child{    
  width: 33.33%;
  border-right: 0px solid #ddd;
  text-align: center;
  font-size: large;
}

@media screen and (max-width: 1000px) {
  .TableForPeople {
      width: 100%;
      left: 0;
  }
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
  color: white;
}

::ng-deep .mat-sort-header-container > .mat-sort-header-arrow {
  color: white;
}

p {
  font-size: 15px;
}

.grid {
  display: flex;
  overflow: auto;
  height: 100%;
}

.innerBox:first-child {
  flex: 20%;
}

.innerBox:last-child {
  max-width: 20%;
  flex: 20%;
  align-content: start;
}

.innerBox {
  flex: 40%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-height: 100%;
  place-content: center start;
  overflow: auto;
  align-content: space-between;
}

.innerBoxAlt:first-child {
  flex: 30%;
}

.innerBoxAlt:last-child {
  max-width: 20%;
  flex: 20%;
  align-content: start;
}

.innerBoxAlt {
  flex: 25%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-height: 100%;
  place-content: center;
  justify-content: center;
  overflow: auto;
}

.picker {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  display: flex;

}

.table {
  height: 81vh;
}

button {
  width: 90%;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #006E8C;
  color: #ffffff;
}

.selected-course {
  background-color: rgb(151, 151, 151); /* Change the background color as desired */
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.filterBox{
  display:flex;
  flex-direction: column;
  height: 100%;
}
.filterItem{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.filterButtons {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}