<div class="container">
  <div class="header">
    <h1 style="color: white;">Tilføj til Modul</h1>
    <mat-icon class="closeButton" (click)="closeDialog()">cancel</mat-icon>
  </div>
  <div class="content">
    <form #personCourseForm="ngForm" class="inputs">
      <div class="test">
        <label>Modul: </label>
        <mat-form-field subscriptSizing="dynamic" class="dropdown" required>
          <mat-label>Vælg Modul:</mat-label>
          <mat-select [(ngModel)]="module" name="modules" required #selectedModule="ngModel"
            (selectionChange)="onModuleChange($event.value)">
            <mat-option *ngFor="let module of modules" [value]="module">
              {{module.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div><br>
    
      <div class="test" *ngIf="moduleSelected">
        <label>Kursus</label>
        <mat-form-field subscriptSizing="dynamic" class="dropdown"
          [ngClass]="{ 'invalid-input': selectedCourse.invalid }">
          <mat-label>Vælg Kursus:</mat-label>
          <mat-select [(ngModel)]="newPersonCourse.course" name="course" required #selectedCourse="ngModel"
            (selectionChange)="onCourseChange($event.value)">
            <mat-option *ngFor="let course of courses" [value]="course">
              {{course.startDate | date: 'dd/MM/yyyy'}} - {{course.endDate | date: 'dd/MM/yyyy'}}
              <br>
              {{ getCourseTypeName(course.courseType) }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div><br>
      <div *ngIf="courses.length === 0 && moduleSelected" style="display: flex;justify-content: center;text-align: center;">
        <p *ngIf="!modulePassed">Der er ikke ledige kurser for denne underviser til det valgte modul.</p>
        <p *ngIf="modulePassed">Underviseren har allerede bestået modulet: <b>{{module.name}}</b></p>
      </div>
      <div class="test" *ngIf="moduleSelected">
        <label>Status: </label>
        <mat-form-field subscriptSizing="dynamic" class="dropdown">
          <mat-label>Vælg Status</mat-label>
          <mat-select [(ngModel)]="newPersonCourse.status" name="status" [compareWith]="compareFn">
            <mat-option *ngFor="let status of statuses; let i = index" [value]="i">
              {{status.replaceAll('_', ' ')}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="buttons">
    <button class="button submit" [disabled]="personCourseForm.invalid || module.moduleId === 0" (click)="onSubmit()">Tilføj</button>
  </div>
</div>