<div class="container">
    <div class="header">
        <h1 style="color: white;">Tilføj til Modul</h1>
        <mat-icon class="closeButton" (click)="closeDialog()">cancel</mat-icon>
    </div>
    <div class="content">
    <div class="labels">
        <label>Modul: </label>
        <label>Type: </label>
        <label>Start Dato: </label>
        <label>Slut Dato: </label>
    </div>
    <form #myForm="ngForm" class="inputs">
      
          <!-- <mat-form-field subscriptSizing="dynamic" class="dropdown">
            <mat-label>Vælg modul:</mat-label>
            <mat-select [(ngModel)]="newPersonModule.moduleId" name="location" #module="ngModel">
              <mat-option *ngFor="let module of modules" [value]="module.moduleId">
                {{module.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field subscriptSizing="dynamic" class="dropdown">
            <mat-label>Vælg modul:</mat-label>
            <mat-select [(ngModel)]="newPersonCourse.course" name="location" #module="ngModel">
              <mat-option *ngFor="let course of courses" [value]="module">
                {{course.module.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <label>Role:</label>
            <mat-form-field subscriptSizing="dynamic" class="dropdown">
                <mat-label>Vælg Brugerrole</mat-label>
                <mat-select [(ngModel)]="newPersonCourse.status" name="status" #module="ngModel">
                    <mat-option *ngFor="let status of status; let i = index" [value]="i">
                        {{module}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
  </div>
    <div class="buttons">
        <button class="create-button" (click)="onSubmit()">Tilføj</button>
        <!-- <button class="cancel-button" (click)="closeDialog()">Luk</button> -->
    </div>
</div>