.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "h h"
    "p m"
    "p f"
    "b b";
  grid-auto-rows: 10% 44% 44% 2%;
  column-gap: 10px;
  padding-left: 10px;
}

.header {
  grid-area: h;
}

.profile-info {
  padding-top: 50px;
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(12, 1fr);
  border: none;
}

input[type=text],
select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.datepicker {
  width: 70%;
  height: 90%;
  min-width: 70%;
  margin: 5px 0;
}

::ng-deep .mat-datepicker-content {
  border: 1px solid black
}

.checkbox {
  text-align: right;
  justify-content: flex-start;
  display: flex;
}

mat-option {
  border: 1px solid #cfcfcf;
  border-top-style: none;
}

.dropdown {
  width: 70%;
  height: 70%;
  padding-top: 5px;
  min-width: 70%;
}

#mat-select-0-panel {
  color: blue;
}

.grid {
  display: flex;
  overflow: auto;
}

.innerBox:first-child {
  flex: 70%;
}

.innerBox:last-child {
  height: fit-content;
  flex: 30%;
}

.innerBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-height: 100%;
  place-content: center start;
  overflow: auto;
}

.TableForPeople{ 
  border-radius: 5px;
  box-shadow: 0 1px 3px 3px #888;
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  outline: 1px solid black;
  overflow-y: auto;
}

.picker {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form.active {
  display: block;
}

.form-visible {
  display: block;
}

.table{
  height: 50vh;
}

.TableForPeople{ 
  border-radius: 5px;
  box-shadow: 0 1px 3px 3px #888;
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  outline: 1px solid black;
  overflow-y: scroll;
}
  
.TableBox{    
  width: 100%;
  position: absolute;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.TableBox td{
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

.TableBox th:hover{
  background-color: #005f79;
  cursor: pointer;
}

.TableBox th{
  position: sticky;
  top: 0px;
  font-size: 1rem;
  border-left: 1px solid #ddd;
  z-index: 101;
}

th{
  text-align: center;
}
.TableBox th:first-child{
  border-left: 1px solid #006E8C;
}

.TableBox th:last-child{
  border-right: 1px solid #006E8C;
}

th {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
  
.TableBox tr:nth-child(even){background-color: #f2f2f2;}

.TableBox tr:hover {background-color: #ddd;}

.TableBox th {
  width: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #006E8C;
  color: white;
}

@media screen  and (max-width: 1000px){
  .TableForPeople{
      width: 100%;
      left: 0;
    }
  }

  ::ng-deep .mat-sort-header-container {
    justify-content: center;
    color: white;
  }

  ::ng-deep .mat-sort-header-container > .mat-sort-header-arrow {
    color: white;
}