<div class="grid">
    <div class="innerBox">
        <div>
            <div class="picker" (click)="toggleList('departmentList')">Afdeling</div>
            <div *ngIf="isListActive('departmentList')" class="List">
                <div class="table">
                    <div class="TableForPeople">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'location')">
                            <tr>
                                <th mat-sort-header="name">
                                    Navn
                                </th>
                            </tr>
                            <tr *ngFor="let department of departments, let i = index" (click)="departmentSelecter(i)">
                                <td>{{department.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="this.role === 'Administrator'">
            <div class="picker" (click)="toggleList('userList')">Bruger</div>
            <div *ngIf="isListActive('userList')" class="List">
                <div class="table">
                    <div class="TableForPeople">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'user')">
                            <tr>
                                <th mat-sort-header="username">
                                    Brugernavn
                                </th>
                                <th mat-sort-header="name">
                                    Navn
                                </th>
                                <th mat-sort-header="userRole">
                                    Bruger rolle
                                </th>
                            </tr>
                            <tr *ngFor="let user of users, let i = index" (click)="userSelecter(i)">
                                <td>{{user.userName}}</td>
                                <td>{{user.name}}</td>
                                <td>{{userRole[user.userRole]}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('bookList')">Bøger</div>
            <div class="table" *ngIf="isListActive('bookList')">
                <div class="TableForPeople">
                    <table class="TableBox" matSort [matSortDisableClear]="true"
                        (matSortChange)="sortData($event, 'book')">
                        <tr>
                            <th mat-sort-header="BookName">
                                Titel
                            </th>
                            <th mat-sort-header="Module">
                                Modul
                            </th>
                            <th mat-sort-header="Amaunt">
                                Antal
                            </th>
                        </tr>
                        <tr *ngFor="let book of books, let i = index" (click)="bookSelecter(i)">
                            <td>{{book.name}}</td>
                            <td>{{book.module!.name}}</td>
                            <td>{{book.amount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('fileTagList')">Filkategori</div>
            <div *ngIf="isListActive('fileTagList')" class="List">
                <div class="table">
                    <div class="TableForPeople">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'fileTag')">
                            <tr>
                                <th mat-sort-header="name">
                                    Navn
                                </th>
                                <th mat-sort-header="dKVisability">
                                    Drift Koordinator Synlighed
                                </th>
                                <th mat-sort-header="hRVisability">
                                    Human Resources Synlighed
                                </th>
                                <th mat-sort-header="pKVisability">
                                    Pædagogisk Konsulent Synlighed
                                </th>
                            </tr>
                            <tr *ngFor="let fileTag of fileTags, let i = index" (click)="fileTagSelecter(i)">
                                <td>{{fileTag.tagName}}</td>
                                <td>
                                    <input *ngIf="fileTag.dkVisability === true" type="checkbox" disabled checked />
                                    <input *ngIf="fileTag.dkVisability === false" type="checkbox" disabled unchecked />
                                </td>
                                <td>
                                    <input *ngIf="fileTag.hrVisability === true" type="checkbox" disabled checked />
                                    <input *ngIf="fileTag.hrVisability === false" type="checkbox" disabled unchecked />
                                </td>
                                <td>
                                    <input *ngIf="fileTag.pkVisability === true" type="checkbox" disabled checked />
                                    <input *ngIf="fileTag.pkVisability === false" type="checkbox" disabled unchecked />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('courseList')">Kursus</div>
            <div *ngIf="isListActive('courseList')" class="List">
                <div class="table">
                    <div class="TableForPeople">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'module')">
                            <tr>
                                <th mat-sort-header="name">
                                    Modul Navn
                                </th>
                                <th mat-sort-header="courseType">
                                    Kursus Type
                                </th>
                                <th mat-sort-header="startDate">
                                    Start Dato
                                </th>
                                <th mat-sort-header="endDate">
                                    Slut Dato
                                </th>
                            </tr>
                            <tr *ngFor="let course of courses, let i = index"
                                (click)="courseSelecter(i)">
                                <td>{{course.module.name}}</td>
                                <td>{{courseType[course.courseType]}}</td>
                                <td>
                                    <p>{{course.startDate | date: 'dd/MM/yyyy'}}</p>
                                </td>
                                <td>
                                    <p>{{course.endDate | date: 'dd/MM/yyyy'}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('locationList')">Lokation</div>
            <div *ngIf="isListActive('locationList')" class="List">
                <div class="table">
                    <div class="TableForPeople">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'location')">
                            <tr>
                                <th mat-sort-header="name">
                                    Navn
                                </th>
                            </tr>
                            <tr *ngFor="let location of locations, let i = index" (click)="locationSelecter(i)">
                                <td>{{location.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('moduleList')">Modul</div>
            <div *ngIf="isListActive('moduleList')" class="List">
                <div class="table">
                    <div class="TableForPeople">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'module')">
                            <tr>
                                <th mat-sort-header="name">
                                    Navn
                                </th>
                            </tr>
                            <tr *ngFor="let module of modules, let i = index" (click)="moduleSelecter(i)">
                                <td>{{module.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('personList')">Person</div>
            <div *ngIf="isListActive('personList')" class="List">
                <div class="table">
                    <div class="TableForPeople">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'person')">
                            <tr>
                                <th mat-sort-header="name">
                                    Navn
                                </th>
                                <th mat-sort-header="initials">
                                    Initialer
                                </th>
                                <th mat-sort-header="department">
                                    Afdeling
                                </th>
                                <th mat-sort-header="location">
                                    Lokation
                                </th>
                                <th mat-sort-header="sVU">
                                    SVU
                                </th>
                            </tr>
                            <tr *ngFor="let person of persons, let i = index" (click)="personSelecter(i)">
                                <td>{{person.name}}</td>
                                <td>{{person.initials}}</td>
                                <td>{{person.department?.name}}</td>
                                <td>{{person.location?.name}}</td>
                                <td>
                                    <input *ngIf="person.svuEligible === true" type="checkbox" disabled checked />
                                    <input *ngIf="person.svuEligible === false" type="checkbox" disabled unchecked />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="innerBox" id="test" *ngIf="activeForm">
        <div>
        Rediger:
        </div>
        <div *ngIf="isFormActive('departmentForm')">
            <form class="form" #departmentForm="ngForm" (ngSubmit)="editDepartment()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="department.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="buttons">
                <button class="save-button" type="submit" mat-raised-button color="primary">Gem</button>
                <button class="cancel-button" (click)="cancel('department')" mat-raised-button color="primary" type="button">Annuller</button>
                <button class="delete-button" style="float: right;" (click)="deleteDepartment(department)" type="button">Slet</button>
            </div>
            </form>
        </div>
        <div *ngIf="isFormActive('userForm')">
            <form class="form" #userForm="ngForm" (ngSubmit)="editUser()">
                <div class="formItem">
                    <label>Brugernavn: </label>
                    <input type="text" [(ngModel)]="user.userName" id="userName" name="userName" #userName="ngModel"
                        required>
                </div>
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="user.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="formItem">
                    <label>Role:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Brugerrole</mat-label>
                        <mat-select [(ngModel)]="user.userRole" name="userRole" #userForm="ngModel">
                            <mat-option *ngFor="let role of userRole; let i = index" [value]="i">
                                {{role}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="buttons">
                    <button class="save-button" type="submit" mat-raised-button color="primary">Gem</button>
                    <button class="cancel-button" (click)="cancel('user')" mat-raised-button color="primary" type="button">Annuller</button>
                    <button class="delete-button" style="float: right;" (click)="deleteUser(user)" type="button">Slet</button>
                    <br>
                </div>
                <button class="reset-button" style="margin-top: 5px;" (click)="resetPassword(user.userId)" type="button">Nulstil Adgangskode</button>
            </form>
        </div>
        <div *ngIf="isFormActive('bookForm')">
            <form class="form" #bookForm="ngForm" (ngSubmit)="editBook()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="book.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="formItem">
                    <label>Mængde: </label>
                    <input type="number" [(ngModel)]="book.amount" id="amount" name="amount" #amount="ngModel" required>
                </div>
                <div class="buttons">
                <button class="save-button" type="submit" mat-raised-button color="primary">Gem</button>
                <button class="cancel-button" (click)="cancel('book')" mat-raised-button color="primary" type="button">Annuller</button>
                <button class="delete-button" style="float: right;" (click)="deleteBook(book)" type="button">Slet</button>
            </div>
            </form>
        </div>
        <div *ngIf="isFormActive('fileTagForm')">
            <form class="form" #fileTagForm="ngForm" (ngSubmit)="editFileTag()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="fileTag.tagName" id="name" name="name" #name="ngModel" required>
                </div>
                <div><b>Filkategori synlighed for brugerroller:</b></div>
                <div class="formItem">
                    <label>Driftskoordinator:</label>
                    <div class="checkbox">
                        <input type="checkbox" [(ngModel)]="fileTag.dkVisability" id="dKVisability" name="dKVisability"
                            #dKVisability="ngModel">
                    </div>
                </div>
                <div class="formItem">
                    <label>Human Resources:</label>
                    <div class="checkbox">
                        <input type="checkbox" [(ngModel)]="fileTag.hrVisability" id="hRVisability" name="hRVisability"
                            #hRVisability="ngModel">
                    </div>
                </div>
                <div class="formItem">
                    <label>Pædagogisk konsulent:</label>
                    <div class="checkbox">
                        <input type="checkbox" [(ngModel)]="fileTag.pkVisability" id="pKVisability" name="pKVisability"
                            #pKVisability="ngModel">
                    </div>
                </div>
                <div class="buttons">
                <button class="save-button" type="submit" mat-raised-button color="primary">Gem</button>
                <button class="cancel-button" (click)="cancel('fileTag')" mat-raised-button color="primary" type="button">Annuller</button>
                <button class="delete-button" style="float: right;" (click)="deleteFileTag(fileTag)" type="button">Slet</button>
            </div>
            </form>
        </div>
        <div *ngIf="isFormActive('locationForm')">
            <form class="form" #locationForm="ngForm" (ngSubmit)="editLocation()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="location.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="buttons">
                <button class="save-button" type="submit" mat-raised-button color="primary">Gem</button>
                <button class="cancel-button" (click)="cancel('location')" mat-raised-button color="primary" type="button">Annuller</button>
                <button class="delete-button" style="float: right;" (click)="deleteLocation(location)" type="button">Slet</button>
            </div>
            </form>
        </div>
        <div *ngIf="isFormActive('moduleForm')">
            <form class="form" #moduleForm="ngForm" (ngSubmit)="editModule()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="module.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="formItem">
                    <label>Beskrivelse: </label>
                    <textarea type="text" [(ngModel)]="module.description" id="description" name="description"
                        #description="ngModel" required></textarea>
                </div>
                <div class="buttons">
                <button class="save-button" type="submit" mat-raised-button color="primary">Gem</button>
                <button class="cancel-button" (click)="cancel('module')" mat-raised-button color="primary" type="button">Annuller</button>
                <button class="delete-button" style="float: right;" (click)="deleteModule(module)" type="button">Slet</button>
            </div>
            </form>
        </div>
        <!-- ToDo: Omskriv -->
        <div *ngIf="isFormActive('courseForm')">
            <form class="form" #courseForm="ngForm" (ngSubmit)="editCourse()">
                <div class="formItem">
                    <label>Modul: </label>
                    <input type="text" [(ngModel)]="course.module.name" id="moduleName" name="moduleName"
                        #moduleName="ngModel" required disabled="true">
                </div>
                <div class="formItem">
                    <label>Kursus Type:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Kursus Type</mat-label>
                        <mat-select [(ngModel)]="course.courseType" name="courseType" #courseForm="ngModel">
                            <mat-option *ngFor="let type of courseType; let i = index" [value]="i">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                    <div class="formItem">
                        <label>Start Dato:</label>
                        <mat-form-field subscriptSizing="dynamic" class="datepicker">
                            <mat-label>Vælg en dato</mat-label>
                            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="course.startDate"
                                id="startDatePicker" name="startDate" #startDate="ngModel">
                            <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker class="calendar" #startDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="formItem">
                        <label>Start Dato:</label>
                        <mat-form-field subscriptSizing="dynamic" class="datepicker">
                            <mat-label>Vælg en dato</mat-label>
                            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="course.endDate"
                                id="endDatePicker" name="endDate" #endDate="ngModel">
                            <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker class="calendar" #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="buttons">
                        <button class="save-button" type="submit" mat-raised-button color="primary">Gem</button>
                        <button class="cancel-button" (click)="cancel('course')" mat-raised-button color="primary" type="button">Annuller</button>
                        <button class="delete-button" style="float: right;" (click)="deleteCourse(course)" type="button">Slet</button>
                    </div>
            </form>
        </div>
        <div *ngIf="isFormActive('personForm')">
            <form class="form" #personForm="ngForm" (ngSubmit)="editPerson()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="person.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="formItem">
                    <label>Initialer: </label>
                    <input type="text" [(ngModel)]="person.initials" id="initials" name="initials" #initials="ngModel"
                        required>
                </div>
                <div class="formItem">
                    <label>Afdeling:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.department">Vælg afdeling:</mat-label>
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="person.department" name="department"
                            #department="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let department of departments" [value]="department">
                                {{department.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Lokation:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.location">Vælg lokation:</mat-label>
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="person.location" name="location"
                            #location="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let location of locations" [value]="location">
                                {{location.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Pædagogisk konsulent:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.educationalConsultant">Vælg konsulent</mat-label>
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="person.educationalConsultant"
                            name="educationalConsultant" #educationalConsultant="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let consultant of educationalConsultants" [value]="consultant">
                                {{consultant.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Driftskoordinator:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.operationCoordinator">Vælg Driftskoordinator</mat-label>
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="person.operationCoordinator"
                            name="operationCoordinator" #operationCoordinator="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let coordinator of operationCoordinators" [value]="coordinator">
                                {{coordinator.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Start Dato:</label>
                    <mat-form-field subscriptSizing="dynamic" class="datepicker">
                        <mat-label>Vælg en dato</mat-label>
                        <input matInput [matDatepicker]="hiringDatePicker" [(ngModel)]="person.hiringDate"
                            id="hiringDatePicker" name="hiringDate" #hiringDate="ngModel">
                        <mat-datepicker-toggle matIconSuffix [for]="hiringDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker class="calendar" #hiringDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Slut Dato:</label>
                    <mat-form-field subscriptSizing="dynamic" class="datepicker">
                        <mat-label>Vælg en dato</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="person.endDate" id="endDatePicker"
                            name="endDate" #endDate="ngModel">
                        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker class="calendar" #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>SVU Berettiget:</label>
                    <div class="checkbox">
                        <input type="checkbox" [(ngModel)]="person.svuEligible" id="svuEligible" name="svuEligible"
                            #svuEligible="ngModel">
                    </div>
                </div>
                <div class="buttons">
                <button class="save-button" type="submit" mat-raised-button color="primary">Gem</button>
                <button class="cancel-button" (click)="cancel('person')" mat-raised-button color="primary" type="button">Annuller</button>
                <button class="delete-button" style="float: right;" (click)="deletePerson(person)" type="button">Slet</button>
            </div>
            </form>
        </div>
    </div>
</div>