<div class="content">
    <div class="left-div div-content">
        <div>
            <div class="picker" (click)="toggleList('departmentList')">Afdeling</div>
            <div *ngIf="isListActive('departmentList')" class="List">
                <div class="table">
                    <div class="TableForPeople tableScroll">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'location')">
                            <tr>
                                <th class="table-header" mat-sort-header="name">
                                    Navn
                                </th>
                            </tr>
                            <tr *ngFor="let department of departments, let i = index" (click)="departmentSelecter(i)">
                                <td class="column">{{department.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="this.role === 'Administrator'">
            <div class="picker" (click)="toggleList('userList')">Bruger</div>
            <div *ngIf="isListActive('userList')" class="List">
                <div class="table">
                    <div class="TableForPeople tableScroll">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'user')">
                            <tr>
                                <th class="table-header" mat-sort-header="username">
                                    Brugernavn
                                </th>
                                <th class="table-header" mat-sort-header="name">
                                    Navn
                                </th>
                                <th class="table-header" mat-sort-header="userRole">
                                    Bruger rolle
                                </th>
                            </tr>
                            <tbody style="overflow-y: scroll;">
                                <tr *ngFor="let user of users, let i = index" (click)="userSelecter(i)">
                                    <td class="column" style="width: 25%;">{{user.userName}}</td>
                                    <td class="column">{{user.name}}</td>
                                    <td class="column" style="width: 20%;">{{userRole[user.userRole]}}</td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('bookList')">Bøger</div>
            <div class="table" *ngIf="isListActive('bookList')">
                <div class="TableForPeople tableScroll">
                    <table class="TableBox" matSort [matSortDisableClear]="true"
                        (matSortChange)="sortData($event, 'book')">
                        <tr>
                            <th class="table-header" mat-sort-header="BookName">
                                Titel
                            </th>
                            <th class="table-header" mat-sort-header="Module">
                                Modul
                            </th>
                            <th class="table-header" mat-sort-header="Amaunt">
                                Antal
                            </th>
                        </tr>
                        <tr *ngFor="let book of books, let i = index" (click)="bookSelecter(i)">
                            <td class="column">{{book.name}}</td>
                            <td class="column">{{book.module!.name}}</td>
                            <td class="column" style="width: 10%;">{{book.amount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('fileTagList')">Filkategori</div>
            <div *ngIf="isListActive('fileTagList')" class="List">
                <div class="table">
                    <div class="TableForPeople tableScroll">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'fileTag')">
                            <tr>
                                <th class="table-header" mat-sort-header="name">
                                    Navn
                                </th>
                                <th class="table-header" mat-sort-header="controllerVisibility">
                                    Controller Synlighed
                                </th>
                                <th class="table-header" mat-sort-header="educationLeaderVisibility">
                                    Uddannelsesleder Synlighed
                                </th>
                                <th class="table-header" mat-sort-header="educationBossVisibility">
                                    Uddannelseschef Synlighed
                                </th>
                                <th class="table-header" mat-sort-header="dkVisibility">
                                    Driftskoordinator Synlighed
                                </th>
                                <th class="table-header" mat-sort-header="hrVisibility">
                                    Human Resources Synlighed
                                </th>
                                <th class="table-header" mat-sort-header="pkVisibility">
                                    Pædagogisk Konsulent Synlighed
                                </th>
                            </tr>
                            <tr *ngFor="let fileTag of fileTags, let i = index" (click)="fileTagSelecter(i)">
                                <td [title]="fileTag.tagName" class="column" style="width: 20%;">{{fileTag.tagName}}</td>
                                <td class="column">
                                    <input type="checkbox" disabled [checked]="fileTag.controllerVisibility"/>
                                </td>
                                <td class="column">
                                    <input type="checkbox" disabled [checked]="fileTag.educationLeaderVisibility"/>
                                </td>
                                <td class="column">
                                    <input type="checkbox" disabled [checked]="fileTag.educationBossVisibility"/>
                                </td>
                                <td class="column">
                                    <input type="checkbox" disabled [checked]="fileTag.dkVisibility"/>
                                </td>
                                <td class="column">
                                    <input type="checkbox" disabled [checked]="fileTag.hrVisibility"/>
                                </td>
                                <td class="column">
                                    <input type="checkbox" disabled [checked]="fileTag.pkVisibility"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('courseList')">Kursus</div>
            <div *ngIf="isListActive('courseList')" class="List">
                <div class="table">
                    <div class="TableForPeople tableScroll">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'module')">
                            <tr>
                                <th class="table-header" mat-sort-header="name">
                                    Modul Navn
                                </th>
                                <th class="table-header" mat-sort-header="courseType">
                                    Kursus Type
                                </th>
                                <th class="table-header" mat-sort-header="startDate">
                                    Start Dato
                                </th>
                                <th class="table-header" mat-sort-header="endDate">
                                    Slut Dato
                                </th>
                            </tr>
                            <tr *ngFor="let course of courses, let i = index"
                                (click)="courseSelecter(i)">
                                <td class="column">{{course.module.name}}</td>
                                <td class="column">{{courseType[course.courseType]}}</td>
                                <td class="column">
                                    <p>{{course.startDate | date: 'dd/MM/yyyy'}}</p>
                                </td>
                                <td class="column">
                                    <p>{{course.endDate | date: 'dd/MM/yyyy'}}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('locationList')">Lokation</div>
            <div *ngIf="isListActive('locationList')" class="List">
                <div class="table">
                    <div class="TableForPeople tableScroll">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'location')">
                            <tr>
                                <th class="table-header" mat-sort-header="name">
                                    Navn
                                </th>
                            </tr>
                            <tr *ngFor="let location of locations, let i = index" (click)="locationSelecter(i)">
                                <td class="column">{{location.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('moduleList')">Modul</div>
            <div *ngIf="isListActive('moduleList')" class="List">
                <div class="table">
                    <div class="TableForPeople tableScroll">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'module')">
                            <tr>
                                <th class="table-header" mat-sort-header="name">
                                    Navn
                                </th>
                            </tr>
                            <tr *ngFor="let module of modules, let i = index" (click)="moduleSelecter(i)">
                                <td class="column">{{module.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="picker" (click)="toggleList('personList')">Underviser</div>
            <div *ngIf="isListActive('personList')" class="List">
                <div class="table">
                    <div class="TableForPeople tableScroll">
                        <table class="TableBox" matSort [matSortDisableClear]="true"
                            (matSortChange)="sortData($event, 'person')">
                            <tr>
                                <th class="table-header" mat-sort-header="name">
                                    Navn
                                </th>
                                <th class="table-header" mat-sort-header="initials">
                                    Initialer
                                </th>
                                <th class="table-header" mat-sort-header="department">
                                    Afdeling
                                </th>
                                <th class="table-header" mat-sort-header="location">
                                    Lokation
                                </th>
                                <th class="table-header" mat-sort-header="sVU">
                                    SVU
                                </th>
                            </tr>
                            <tr *ngFor="let person of persons, let i = index" (click)="personSelecter(i)">
                                <td [title]="person.name" class="column" style="width: 30%;">{{person.name}}</td>
                                <td [title]="person.initials" class="column" style="width: 10%;">{{person.initials}}</td>
                                <td [title]="person.department?.name" class="column" style="width: 20%;">{{person.department?.name}}</td>
                                <td [title]="person.location?.name" class="column" style="width: 20%;">{{person.location?.name}}</td>
                                <td class="column" style="width: 5%;">
                                    <input *ngIf="person.svuEligible === true" type="checkbox" disabled checked />
                                    <input *ngIf="person.svuEligible === false" type="checkbox" disabled unchecked />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="right-div div-content" id="test" *ngIf="activeForm">
        <div>
        Rediger:
        </div>
        <div *ngIf="isFormActive('departmentForm')">
            <form class="form" #departmentForm="ngForm" (ngSubmit)="departmentForm.valid && editDepartment()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="department.name" id="name" name="name" #name="ngModel" required
                        [ngClass]="{ 'invalid-input': name.invalid }">
                </div>
                <div class="buttons">
                    <button class="button submit" type="submit" [disabled]="!departmentForm.valid">Gem</button>
                    <button class="button cancel" (click)="cancel('department')">Annuller</button>
                    <button class="button delete" (click)="deleteDepartment(department)"
                        type="button">Slet</button>
                </div>
            </form>
        </div>
        <div *ngIf="isFormActive('userForm')">
            <form class="form" #userForm="ngForm" (ngSubmit)="editUser()">
                <div class="formItem">
                    <label>Brugernavn: </label>
                    <input type="text" [(ngModel)]="user.userName" id="userName" name="userName" #userName="ngModel" required
                        [ngClass]="{ 'invalid-input': userName.invalid }">
                </div>
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="user.name" id="name" name="name" #name="ngModel" required
                        [ngClass]="{ 'invalid-input': name.invalid }">
                </div>
                <div class="formItem">
                    <label>Brugerrolle:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Brugerrole</mat-label>
                        <mat-select (selectionChange)="selectUserRoleChanged()" [(ngModel)]="user.userRole" name="userRole"
                            #userForm="ngModel">
                            <mat-option *ngFor="let role of userRole; let i = index" [value]="i">
                                {{role}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem" *ngIf="user.userRole === 2">
                    <label>Uddannelseschef:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown"
                        [ngClass]="{ 'invalid-input': educationBoss.invalid }">
                        <mat-label *ngIf="!user.educationBoss">Vælg Uddannelseschef</mat-label>
                        <mat-select (selectionChange)="selectSetEducationbossId()" [compareWith]="compareObjects"
                            [(ngModel)]="user.educationBoss" name="educationBoss" #educationBoss="ngModel"
                            [required]="user.userRole === 2">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let educationBoss of educationBosses" [value]="educationBoss">
                                {{educationBoss.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem" *ngIf="user.userRole === 2">
                    <label>Afdeling:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!user.department">Vælg afdeling:</mat-label>
                        <mat-select (selectionChange)="selectSetDepartmentId()" [compareWith]="compareObjects"
                            [(ngModel)]="user.department" name="department" #department="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let department of departments" [value]="department">
                                {{department.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem" *ngIf="user.userRole === 2">
                    <label>Lokation:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!user.location">Vælg lokation:</mat-label>
                        <mat-select (selectionChange)="selectSetLocationId()" [compareWith]="compareObjects"
                            [(ngModel)]="user.location" name="location" #location="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let location of locations" [value]="location">
                                {{location.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="buttons">
                    <button class="button submit" type="submit" [disabled]="userForm.invalid">Gem</button>
                    <button class="button cancel" (click)="cancel('user')" type="button">Annuller</button>
                    <button class="button delete" (click)="deleteUser(user)" type="button">Slet</button>
                    <br>
                </div>
                <button class="button reset" (click)="resetPassword(user.userId)" type="button">Nulstil
                    Adgangskode</button>
            </form>
        </div>
        <div *ngIf="isFormActive('bookForm')">
            <form class="form" #bookForm="ngForm" (ngSubmit)="editBook()">
                <div class="formItem">
                    <label>Modul: </label>
                    <input type="text" [(ngModel)]="book.module.name" id="moduleName" name="moduleName" #moduleName="ngModel" disabled>
                </div>
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="book.name" id="name" name="name" #name="ngModel" required [ngClass]="{ 'invalid-input': name.invalid }">
                </div>
                <div class="formItem">
                    <label>Mængde: </label>
                    <input type="number" [(ngModel)]="book.amount" id="amount" name="amount" #amount="ngModel" [min]="0" required [ngClass]="{ 'invalid-input': amount.invalid }">
                </div>
                <div class="buttons">
                <button class="button submit" type="submit" [disabled]="bookForm.invalid">Gem</button>
                <button class="button cancel" (click)="cancel('book')" type="button">Annuller</button>
                <button class="button delete" (click)="deleteBook(book)" type="button">Slet</button>
            </div>
            </form>
        </div>
        <div *ngIf="isFormActive('fileTagForm')">
            <form class="form" #fileTagForm="ngForm" (ngSubmit)="editFileTag()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="fileTag.tagName" id="name" name="name" #name="ngModel" required [ngClass]="{ 'invalid-input': name.invalid }">
                </div>
                <div class="formItem">
                    <div>Synlighed:</div>
                        <app-filetag-multi-dropdown style="width: 70%;" [fileTag]="fileTag" [selectedVisibilityOptions]="selectedVisibilityOptions"></app-filetag-multi-dropdown>
                  </div>
                <div class="buttons">
                <button class="button submit" type="submit" [disabled]="!fileTagForm.valid">Gem</button>
                <button class="button cancel" (click)="cancel('fileTag')" type="button">Annuller</button>
                <button class="button delete" (click)="deleteFileTag(fileTag)" type="button">Slet</button>
            </div>
            </form>
        </div>
        <div *ngIf="isFormActive('locationForm')">
            <form class="form" #locationForm="ngForm" (ngSubmit)="editLocation()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="location.name" id="name" name="name" #name="ngModel" required [ngClass]="{ 'invalid-input': name.invalid }">
                </div>
                <div class="buttons">
                <button class="button submit" type="submit" [disabled]="!locationForm.valid">Gem</button>
                <button class="button cancel" (click)="cancel('location')" type="button">Annuller</button>
                <button class="button delete" (click)="deleteLocation(location)" type="button">Slet</button>
            </div>
            </form>
        </div>
        <div *ngIf="isFormActive('moduleForm')">
            <form class="form" #moduleForm="ngForm" (ngSubmit)="editModule()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="module.name" id="name" name="name" #name="ngModel" required [ngClass]="{ 'invalid-input': name.invalid }">
                </div>
                <div class="formItem">
                    <label>Beskrivelse: </label>
                    <textarea type="text" [(ngModel)]="module.description" id="description" name="description"
                        #description="ngModel"></textarea>
                </div>
                <div class="buttons">
                <button class="button submit" type="submit" [disabled]="!moduleForm.valid">Gem</button>
                <button class="button cancel" (click)="cancel('module')" type="button">Annuller</button>
                <button class="button delete" (click)="deleteModule(module)" type="button">Slet</button>
            </div>
            </form>
        </div>
        <!-- ToDo: Omskriv -->
        <div *ngIf="isFormActive('courseForm')">
            <form class="form" #courseForm="ngForm" (ngSubmit)="editCourse()">
                <div class="formItem">
                    <label>Modul: </label>
                    <input type="text" [(ngModel)]="course.module.name" id="moduleName" name="moduleName"
                        #moduleName="ngModel" required [disabled]="true">
                </div>
                <div class="formItem">
                    <label>Kursus Type:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Kursus Type</mat-label>
                        <mat-select [(ngModel)]="course.courseType" name="courseType" #courseForm="ngModel">
                            <mat-option *ngFor="let type of courseType; let i = index" [value]="i">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                    <div class="formItem">
                        <label>Start Dato:</label>
                        <mat-form-field subscriptSizing="dynamic" class="datepicker" [ngClass]="{ 'invalid-input': startDate.invalid }">
                            <mat-label>Vælg en dato</mat-label>
                            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="course.startDate"
                                id="startDatePicker" name="startDate" #startDate="ngModel" required>
                            <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker class="calendar" #startDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="formItem">
                        <label>Start Dato:</label>
                        <mat-form-field subscriptSizing="dynamic" class="datepicker" [ngClass]="{ 'invalid-input': endDate.invalid }">
                            <mat-label>Vælg en dato</mat-label>
                            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="course.endDate"
                                id="endDatePicker" name="endDate" #endDate="ngModel" required>
                            <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker class="calendar" #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="buttons">
                        <button class="button submit" type="submit" [disabled]="!courseForm.valid">Gem</button>
                        <button class="button cancel" (click)="cancel('course')" type="button">Annuller</button>
                        <button class="button delete" (click)="deleteCourse(course)" type="button">Slet</button>
                    </div>
            </form>
        </div>
        <div *ngIf="isFormActive('personForm')">
            <form class="form" #personForm="ngForm" (ngSubmit)="editPerson()">
                <div class="formItem">
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="person.name" id="name" name="name" #name="ngModel" required [ngClass]="{ 'invalid-input': name.invalid }">
                </div>
                <div class="formItem">
                    <label>Initialer: </label>
                    <input type="text" [(ngModel)]="person.initials" id="initials" name="initials" #initials="ngModel"
                        required [ngClass]="{ 'invalid-input': initials.invalid }">
                </div>
                <div class="formItem">
                    <label>Afdeling:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.department">Vælg afdeling:</mat-label>
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="person.department" name="department"
                            #department="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let department of departments" [value]="department">
                                {{department.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Lokation:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.location">Vælg lokation:</mat-label>
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="person.location" name="location"
                            #location="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let location of locations" [value]="location">
                                {{location.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="formItem">
                    <label>Driftskoordinator:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.operationCoordinator">Vælg Driftskoordinator</mat-label>
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="person.operationCoordinator"
                            name="operationCoordinator" #operationCoordinator="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let coordinator of operationCoordinators" [value]="coordinator">
                                {{coordinator.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Pædagogisk konsulent:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.educationalConsultant">Vælg konsulent</mat-label>
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="person.educationalConsultant"
                            name="educationalConsultant" #educationalConsultant="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let consultant of educationalConsultants" [value]="consultant">
                                {{consultant.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Uddannelsesleder:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.educationalLeader">Vælg Uddannelsesleder</mat-label>
                        <mat-select [compareWith]="compareObjects" [(ngModel)]="person.educationalLeader"
                            name="educationalLeader" #educationalLeader="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let leader of educationLeaders" [value]="leader">
                                {{leader.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Start Dato:</label>
                    <mat-form-field subscriptSizing="dynamic" class="datepicker" [ngClass]="{ 'invalid-input': hiringDate.invalid }">
                        <mat-label>Vælg en dato</mat-label>
                        <input matInput [matDatepicker]="hiringDatePicker" [(ngModel)]="person.hiringDate"
                            id="hiringDatePicker" name="hiringDate" #hiringDate="ngModel" required>
                        <mat-datepicker-toggle matIconSuffix [for]="hiringDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker class="calendar" #hiringDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>Slut Dato:</label>
                    <mat-form-field subscriptSizing="dynamic" class="datepicker" [ngClass]="{ 'invalid-input': endDate.invalid }">
                        <mat-label>Vælg en dato</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="person.endDate" id="endDatePicker"
                            name="endDate" #endDate="ngModel" required>
                        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker class="calendar" #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="formItem">
                    <label>SVU Berettiget:</label>
                    <div class="checkbox">
                        <input type="checkbox" [(ngModel)]="person.svuEligible" id="svuEligible" name="svuEligible"
                            #svuEligible="ngModel">
                    </div>
                </div>
                <div class="buttons">
                <button class="button submit" type="submit" [disabled]="!personForm.valid">Gem</button>
                <button class="button cancel" (click)="cancel('person')" type="button">Annuller</button>
                <button class="button delete" (click)="deletePerson(person)" type="button">Slet</button>
            </div>
            </form>
        </div>
    </div>
</div>