<!-- <mat-form-field class="container" subscriptSizing="dynamic">
    <mat-label>Filtrer {{label}}</mat-label>
    <input matInput placeholder="Søg" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChanged()">
    <mat-select [(ngModel)]="selectionValues" multiple (ngModelChange)="onSelectionChanged()" id="filter" name="filter"
        #filter="ngModel">
        <mat-option [value]="everything">Alle</mat-option>
        <mat-option *ngFor="let item of filteredValues" [value]="item">
            {{ item.name }}
        </mat-option>
    </mat-select>
</mat-form-field> -->