.container {
    max-width: 450px;
}

.dialog-buttons{
    display: flex;
    justify-content: center;
}

.content{
    padding: 20px 24px 5px 24px;
}

.submit{
    margin-right: 3px;
}

.cancel{
    margin-left: 3px;
}