<div class="OuterWrapper">
    <div class="Searchfield">
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Søge efter Navn</mat-label>
            <input matInput placeholder="Skriv navnet her " (input)="onSearchQueryInput($event)">
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
            <mat-label>Vælge afdeling</mat-label>
            <mat-select [value]="alle" (selectionChange)="onDepartmentQueryInput($event)">
                <mat-option [value]="alle" >Alle</mat-option>
                <mat-option *ngFor="let x of department" [value]="x.name">{{x.name}}</mat-option>
            </mat-select>
        </mat-form-field>      
    </div>
    <div class="table"> 
        <div class="TableForPeople">
            <table class="TableBox" matSort [matSortDisableClear]="true" (matSortChange)="sortData($event)">
                <tr>
                    <th mat-sort-header="HiredName" style="min-width: 39.5%;">
                        Navn 
                    </th>
                    <th mat-sort-header="Initials" style="min-width: 39.5%;">
                        Initialer 
                    </th>
                    <th mat-sort-header="HiredDepartment" style="min-width: 21.5%;">
                        Afdeling 
                    </th> 
                    <th mat-sort-header="HiredEndDate" style="min-width: 12%;">
                        Slut dato 
                    </th>
                    <th mat-sort-header="HiredModules" style="min-width: 20.20%;">
                        Færdige moduler 
                    </th>
                    <th mat-sort-header="HiredSVU" style="min-width: 6.80%;">
                        SVU 
                    </th>
                </tr>
                <tr *ngFor="let x of showedList">
                    <td><p routerLink="/employee/{{x.personId}}" class="employeeName">{{x.name}}</p></td> <!--<a href="/employee/{{x.personId}}"></a>-->
                    <td><p> {{x.initials}}</p></td>
                    <td *ngIf="x.department"><p>{{x.department.name}}</p></td>
                    <td *ngIf="!x.department">-</td>
                    <td class="End--date">
                        <p class="EndDateShow">{{x.endDate | date: 'dd/MM/yyyy'}}</p>
                        <div #progress class="Progress" id="{{x.personId}}"></div>
                    </td>
                    <td> <p>{{x.completedModules}}</p></td> 
               
                    <td>
                        <!-- <button (click)="lalala(x.personId)">Press me!</button> -->
                        <input *ngIf="x.svuEligible === true" type="checkbox" disabled checked />
                        <input *ngIf="x.svuEligible === false" type="checkbox" disabled unchecked/> 
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bunden"></div>
</div>