<!-- <div class="OuterWrapper">
    <div class="TableForPeople">
        <table class="TableBox">
            <tr>
                <th>Navn</th>
                <th>Afdeling</th>
                <th>Slut dato</th>
                <th>Færdig moduler</th>
                <th>SVU</th>
            </tr>
            <tr *ngFor="let x of [1,2,3,4,5,6,7,46,4,3,2,4,5,7,8,98,5,4,2,5,7,8,9,3,4,5,6,7,8,9,3,4,5,6,7,8]">
                <td><a href="">Jeppe Frimann</a></td>
                <td>HR</td>
                <td>10-12-27</td>
                <td>{{x}}</td>
                <td><input type="checkbox" disabled checked /></td>
            </tr>
        </table>
    </div>
    <div class="Handler">

    </div>
</div> -->

<div class="OuterWrapper">
    <div class="tester Her">1</div>
    <div class="table Her"> 
        <div class="TableForPeople">
        <table class="TableBox">
            <tr>
                <th>Navn</th>
                <th>Afdeling</th>
                <th>Slut dato</th>
                <th>Færdig moduler</th>
                <th>SVU</th>
            </tr>
            <tr *ngFor="let x of [1,2,3,4,5,6,7,46,4,3,2,4,5,7,8,98,5,4,2,5,7,8,9,3,4,5,6,7,8,9,3,4,5,6,7,8]">
                <td><a href="">Jeppe Frimann</a></td>
                <td>HR</td>
                <td>10-12-27</td>
                <td>{{x}}</td>
                <td><input type="checkbox" disabled checked /></td>
            </tr>
        </table>
    </div>
    <div class="Handler">

    </div></div>
    <div class="side Her">1</div>
    <div class="bunden Her">1</div>
</div>