<div class="OuterWrapper">
    <div class="imgWrapper">
        <img routerLink="/home" src="../../../../assets/logo-footer.png" alt="">
    </div>
    <span class="Userinfo">
        <p>{{name}} &nbsp; {{role}}</p>
    </span>
    <span class="ModuleAndFiles">
        <h3 routerLink="/module" [ngStyle]="{'text-decoration': router.url === '/module' ? 'underline' : 'none'}">
            Moduler
        </h3>
        <h3 routerLink="/home" [ngStyle]="{'text-decoration': router.url === '/home' ? 'underline' : 'none'}">
            Ansatte
        </h3>
        <h3 routerLink="/file" [ngStyle]="{'text-decoration': router.url === '/file' ? 'underline' : 'none'}">
            Filer
        </h3>
    </span>
    <span class="dropdown">
        <mat-icon class="SettingsIcon" (click)="onShow()">settings</mat-icon>
        <div class="dropdown-content" id="dropdown-content">
            <span (click)="openChangePasswordPopup()" class="Exit">
                <p>Skift adgangskode</p>
            </span>
            <hr>
            <span class="Exit" routerLink="/login" (click)="logout()">
                
                <p>Log ud &nbsp;</p> <mat-icon>exit_to_app</mat-icon>
            </span>
          </div>
    </span>
</div>
