.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "h h"
    "p m"
    "p f"
    "b b";
    grid-auto-rows: 10% 44% 44% 2%;
    column-gap: 10px;
    padding-left: 10px;
}

.header{
    grid-area: h;
}
.profile{
    padding: 100px 0;
    grid-area: p;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #888;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(12, 1fr);
    /* grid-template-areas: 
    "n n"
    "l i"
    "l i"
    "l i"
    "l i"
    "l i"
    "l i"
    "l i"
    "l i"
    "bt bt"; */
}

/* .profile-header{
    grid-area: n;
}

.profile > label{
    grid-area: l;
    background-color: red;
}

.profile > input{
    background-color: black;
    grid-area: i;
} */

.profile label{
    text-align: right;
    padding-right: 15px;
}

.modules{
    background-color: blueviolet;
    grid-area: m;
    margin-bottom: 10px;
}

.files{
    grid-area: f;
    background-color: green;
}

input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.datepicker{
    width: 70%;
    height: 80%;
}

 .checkbox{
    text-align: right;
    justify-content: start;
    display: flex;
 }

.userinfo{
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-align: center;
}