<div class="container">
    <div class="header">
    </div>
    <div class="profile">
        <div class="profile-header">
            <h1>{{backupValues.name}}</h1>
        </div>
        <form class="form" #myForm="ngForm">
            <fieldset class="profile-info" [disabled]="editDisabled">
            <label>ID: </label>
            <input type="text" [(ngModel)]="person.personId" id="personId" name="personId" #personId readonly>

            <label>Navn: </label>
            <div>
                <input type="text" [(ngModel)]="person.name" id="name" name="name" #name="ngModel" required>
            </div>

            <label>Initialer: </label>
            <div>
                <input type="text" [(ngModel)]="person.initials" id="name" name="initials" #initials="ngModel" required>
            </div>

            <label>Afdeling:</label>
            <mat-form-field subscriptSizing="dynamic" class="dropdown">
                <mat-label>Vælg lokation:</mat-label>
                <mat-select [compareWith]="compareObjects" [disabled]="editDisabled" [(ngModel)]="person.department" name="department" #department="ngModel">
                  <mat-option *ngFor="let department of departments" [value]="department">
                    {{department.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <label>Lokation:</label>
            <mat-form-field subscriptSizing="dynamic" class="dropdown">
                <mat-label>Vælg lokation:</mat-label>
                <mat-select [compareWith]="compareObjects" [disabled]="editDisabled" [(ngModel)]="person.location" name="location" #location="ngModel">
                  <mat-option *ngFor="let location of locations" [value]="location">
                    {{location.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <label>Pædagogisk konsulent:</label>
            <mat-form-field subscriptSizing="dynamic" class="dropdown">
                <mat-label>Vælg konsulent</mat-label>
                <mat-select [compareWith]="compareUserObjects" [disabled]="editDisabled" [(ngModel)]="person.educationalConsultant" name="educationalConsultant" #educationalConsultant="ngModel">
                  <mat-option *ngFor="let consultant of educationalConsultants" [value]="consultant">
                    {{consultant.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <label>Driftskoordinator:</label>
            <mat-form-field subscriptSizing="dynamic" class="dropdown">
                <mat-label>Vælg Driftskoordinator</mat-label>
                <mat-select [compareWith]="compareUserObjects" [disabled]="editDisabled" [(ngModel)]="person.operationCoordinator" name="operationCoordinator" #operationCoordinator="ngModel">
                  <mat-option *ngFor="let coordinator of operationCoordinators" [value]="coordinator">
                    {{coordinator.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            <label>Ansættelses Dato:</label>
            <mat-form-field subscriptSizing="dynamic" class="datepicker">
                <mat-label>Vælg en dato</mat-label>
                <input matInput [matDatepicker]="hiringDatePicker" [(ngModel)]="person.hiringDate" id="hiringDate" name="hiringDate" #hiringDate="ngModel">
                <mat-datepicker-toggle matIconSuffix [for]="hiringDatePicker" [disabled]="editDisabled"></mat-datepicker-toggle>
                <mat-datepicker #hiringDatePicker></mat-datepicker>
            </mat-form-field>

            <label>Slut Dato:</label>
            <mat-form-field subscriptSizing="dynamic" class="datepicker">
                <mat-label>Vælg en dato</mat-label>
                <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="person.endDate" id="endDatePicker" name="endDate" #endDate="ngModel">
                <mat-datepicker-toggle matIconSuffix [for]="endDatePicker" [disabled]="editDisabled"></mat-datepicker-toggle>
                <mat-datepicker class="calendar" #endDatePicker></mat-datepicker>
            </mat-form-field>

            <label>SVU Berettiget:</label>
            <div class="checkbox">
                <input type="checkbox" [(ngModel)]="person.svuEligible" id="svuEligible" name="svuEligible" #svuEligible="ngModel">
            </div>
        </fieldset>
        </form>
        <div class="profile-buttons">
            <button class="edit-button" *ngIf="editDisabled" (click)="enableEditMode()">Rediger</button>
            <div class="editmode-buttons">
                <button class="save-button" (click)="onSubmit()" type="submit" *ngIf="!editDisabled" [disabled]="myForm.invalid">Save</button>
                <button class="cancel-button" *ngIf="!editDisabled" (click)="cancelEditMode()">Cancel</button>
            </div>
        </div>
        
    </div>
    <div class="modules">
        Modules
    </div>
    <div class="files">
        Files
    </div>
</div>