* {
    overflow-x: hidden;
}

.moduleItem > p{
    overflow: hidden;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "h h"
        "p m"
        "p f"
        "b b";
    grid-auto-rows: 2% 48% 48% 2%;
    column-gap: 20px;
    row-gap: 5px;
    overflow: hidden;
}

.header {
    grid-area: h;
}

.profile {
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #888;
    outline: 1px solid black;
    margin-left: 10px;

    display: grid;
    height: 100%;
    width: 100%;
    grid-area: p;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 15% 75% 10%;
    grid-template-areas:
        "n n"
        "i i"
        "b b";
}

.profile-info {
    display: grid;
    height: 95%;
    margin-top: 15px;
    max-height: min-content;
    grid-template-columns: 2fr 3fr;
    /* grid-template-rows: repeat(10, 1fr); */
    grid-template-rows: minmax(0, 30px) 30px;
    border: none;
    align-items: center;


    grid-template-areas: 
    "l in"
    "l in"
    "l in"
    "l in"
    "l in"
    "l in"
    "l in"
    "l in"
    "l in"
    "l in";
}

.grid-label{
    grid-area: l;
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-rows: repeat(10, 1fr);
    font-weight: bold;
}

.grid-input{
    grid-area: in;
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-rows: repeat(10, 10%);
}

.form {
    grid-area: i;
    display: grid;
    border: none;
}

.profile>form>.profile-info>label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 900;
}

.profile-header {
    grid-area: n;
    border-bottom: 1px solid black;
    height: 100%;
    display: grid;
    place-content: center;
}

.profile-buttons {
    height: 100%;
    width: 100%;
    grid-area: b;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
}

.profile>.profile-buttons>.editmode-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.edit-button {
    height: 40px;
    width: 80px;
    background-color: #006E8C;
    color: white;
    border: none;
    font-weight: 900;
}

.edit-button:hover {
    cursor: pointer;
    background-color: #005f79;
}

.save-button {
    height: 40px;
    width: 80px;
    background-color: rgb(31, 155, 0);
    border: 0.5px solid black;
    color: white;
    font-weight: bold;
}

.save-button:disabled {
    background-color: rgb(146, 202, 132);
}

.save-button:disabled:hover {
    cursor: default;
    background-color: rgb(146, 202, 132);
}

.save-button:hover {
    cursor: pointer;
    background-color: rgb(28, 138, 0);
    border: 1px solid black;
}

.cancel-button {
    height: 40px;
    width: 80px;
    border: 0.5px solid black;
    font-weight: bold;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: #dadada;
}

.profile label {
    text-align: right;
    padding-right: 15px;
}

.newModules {
    /* background-color: whitesmoke; */
    grid-area: m;
    width: auto;
    margin-right: 10px;
    box-shadow: 0px 0px 5px 1px #888;
    outline: 1px solid black;
    border-radius: 5px;

    display: grid;
    grid-template-areas: 
    "mt mt"
    "am am";
    grid-template-rows: 13% 87%;
    grid-template-columns: 1fr 1fr;
}

.allModules{
    background-color: whitesmoke;
    grid-area: am;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: visible;
    grid-auto-rows: 25%;
    justify-items: center;
}

.moduleToolbar{
    grid-area: mt;
    border-bottom: 1px solid black;
    display: grid;
    align-content: center;
    height: fit-content;
}

.currentModules{
    grid-area: cm;
    border-right: 1px solid black;
}

.futureModules{
    grid-area: fm;
    border-right: 1px solid black;
}

.pastModules{
    grid-area: pm;
}

.moduleItem{
    height: 15%;
    margin-bottom: 5px;
    display: grid;
    /* border-radius: 5px; */
    outline: 1px solid black;
    background-color: white;
}

.newModuleItem{
    /* margin-bottom: 5px; */
    margin: 5px 0px;
    width: 98%;
    display: grid;
    border-radius: 5px;
    outline: 1px solid black;
    background-color: white;

    grid-template-areas: 
    "mii colo";
    grid-template-columns: 97% 3%;
}

.moduleItemInfo{
    grid-area: mii;
    display: grid;
}

.moduleItemColor{
    grid-area: colo;
}

.moduleItemColorIndicator{
    width: 100%;
    height: 100%;
}

.moduleItemInfo > p {
    margin-left: 5px;
    margin-top: 3px;
}

.moduleItemInfo > p > b:hover{
    cursor: pointer;
    text-decoration: underline;
}

.moduleItem:hover{
    background-color: #e2e2e2;
}

.files {
    grid-area: f;
    margin-right: 10px;
    box-shadow: 0px 0px 5px 1px #888;
    outline: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.file-table {
    border-radius: 5px;
    width: 100%;
    max-height: 100%;
    height: 88%;
    margin: 1px auto 0px auto;
    position: relative;
    overflow: auto;

}

.upload-file {
    height: max-content;
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: 100px 1fr;

}

.upload-file-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    background-color: #006E8C;
    border: none;
    outline: 1px solid black;
}

.add-module-button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 8px;
    background-color: #006E8C;
    border: none;
    outline: 1px solid black;
    margin: 5px 0px 5px 8px;
}

.upload-file-button:hover {
    cursor: pointer;
    background-color: #005f79;
}

.upload-icon {
    color: white;
    vertical-align: middle;
}

.search-bar {
    margin-left: 10px;
    min-width: 200px;
    width: 350px;
    height: 45px;
    border-radius: 20px;
}

.TableBox {
    width: 100%;
    position: absolute;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    overflow: auto;
}

.TableBox td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

.TableBox th:hover {
    background-color: #005f79;
    cursor: pointer;
}

.TableBox th {
    position: sticky;
    top: 0px;
    font-size: 1rem;
    outline: 1px solid #ddd;
}

.TableBox th:first-child {
    border-left: 1px solid #006E8C;
}

.TableBox th:last-child {
    border-right: 1px solid #006E8C;
}

th {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


.TableBox tr:nth-child(even) {
    background-color: #f2f2f2;
}

.TableBox tr:hover {
    background-color: #ddd;
}

.TableBox th {
    width: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #006E8C;
    color: white;
}

@media screen and (max-width: 1000px) {
    .TableForPeople {
        width: 100%;
        left: 0;
    }
}

input[type=text],
select {
    width: 70%;
    padding: 12px 20px;
    height: 100%;
    max-height: 56px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.datepicker {
    width: 70%;
    height: 90%;
    min-width: 70%;
    margin: 5px 0;
    max-height: 56px;
}

::ng-deep .mat-datepicker-content {
    border: 1px solid black
}

.checkbox {
    text-align: right;
    justify-content: flex-start;
    display: flex;
}

mat-option {
    border: 1px solid #cfcfcf;
    border-top-style: none;
}

td>mat-icon:hover {
    cursor: pointer;
    background-color: #858585;
    border-radius: 50%;
}

.dropdown {
    width: 70%;
    height: 95%;
    max-height: 56px;
    /* padding-top: 5px; */
    min-width: 70%;
}

#mat-select-0-panel {
    color: blue;
}

::ng-deep .mat-sort-header-container {
    align-items: center;
    justify-content: center;
    color: white;
}

::ng-deep .mat-sort-header-container>.mat-sort-header-arrow {
    color: white;
}