<div class="OuterPage">
    <form class="InnerPage" (ngSubmit)="submitLogin()">
        <img src="../../../../assets/LoginImg.jpg" alt="">
        <div class="content">
            <div>
                <span>
                    <p>Brugernavn</p>
                    <input class="usernameinput" placeholder="Brugernavn" type="text" id="username" name="username"  required #userName="ngModel" [(ngModel)]="loginRequest.username">
                    <p class="InvalidPassword" *ngIf="invalidLogin">Invalid username or password.</p>
                </span>
                <span>
                    <p>Kodeord</p>
                    <input class="passwordinput" placeholder="Kodeord" type="password" id="password" name="password" required #password="ngModel" [(ngModel)]="loginRequest.password">
                </span>
            </div>            
        </div>
            <button type="submit">Login</button>
    </form>
</div>
