<div class="container">
    <div class="closeDialog">
            <p><b>Adgangskode udløbet</b></p>
            <p><b>Skift adgangskode</b></p>
    </div>
    <hr>
    <mat-dialog-content>
      <div>
        <p>Gamle adgangskode</p>
        <input type="password" [(ngModel)]="changePasswordModel.oldPassword" id="oldPassword" name="oldPassword" #name="ngModel" required>
      </div>
      <div>
        <p>Ny adgangskode</p>
        <input type="password" [(ngModel)]="changePasswordModel.newPassword" id="newPassword" name="newPassword" #name="ngModel" required>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button (click)="changepassword()">Skift adgangskode</button>
    </mat-dialog-actions>
  </div>