<div class="container">
    <div class="header">
        <h1 style="color: white;">Tilføj til Modul</h1>
        <mat-icon class="closeButton" (click)="closeDialog()">cancel</mat-icon>
    </div>
    <div class="content">
    <div class="labels">
        <label>Modul: </label>
        <label>Type: </label>
        <label>Start Dato: </label>
        <label>Slut Dato: </label>
    </div>
    <form #myForm="ngForm" class="inputs">

          <!-- <mat-form-field subscriptSizing="dynamic" class="dropdown">
            <mat-label>Vælg modul:</mat-label>
            <mat-select [(ngModel)]="newPersonModule.moduleId" name="location" #module="ngModel">
              <mat-option *ngFor="let module of modules" [value]="module.moduleId">
                {{module.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field subscriptSizing="dynamic" class="dropdown">
            <mat-label>Vælg modul:</mat-label>
            <mat-select [(ngModel)]="newPersonCourse.module" name="location" #module="ngModel">
              <mat-option *ngFor="let module of modules" [value]="module">
                {{module.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- ToDo: Omskriv -->
          <mat-form-field subscriptSizing="dynamic" class="dropdown">
            <mat-label>Vælg modul type:</mat-label>
            <mat-select [(ngModel)]="newPersonCourse.courseType" name="moduleType" #module="ngModel">
              <mat-option *ngFor="let moduleType of moduleTypes; let i = index" [value]="i">
                {{moduleType}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field subscriptSizing="dynamic" class="datepicker">
            <mat-label *ngIf="!newPersonCourse.startDate">Vælg en dato</mat-label>
            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="newPersonCourse.startDate" id="startDate" name="startDate" #startDate="ngModel">
            <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker class="calendar" #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field subscriptSizing="dynamic" class="datepicker">
            <mat-label *ngIf="!newPersonCourse.endDate">Vælg en dato</mat-label>
            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="newPersonCourse.endDate" id="endDate" name="endDate" #endDate="ngModel">
            <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker class="calendar" #endDatePicker></mat-datepicker>
        </mat-form-field>

    </form>
  </div>
    <div class="buttons">
        <button class="create-button" (click)="onSubmit()">Tilføj</button>
        <!-- <button class="cancel-button" (click)="closeDialog()">Luk</button> -->
    </div>
</div>