<div class="grid" style="overflow: auto;">
    <span class="innerBox">
        <div>
            <div class="picker" (click)="toggleForm('departmentForm')">Afdeling</div>
            <form *ngIf="isFormActive('departmentForm')" class="form" #departmentForm="ngForm"
                (ngSubmit)="createDepartment()">
                <div class="test">
                    <div class="form-label">
                        <label>Navn: </label>
                    </div>
                    <p>&ensp;</p>
                    <input type="text" [(ngModel)]="department.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="form-button">
                    <button class="create-button" style="float: right;" type="submit" mat-raised-button color="primary">Opret</button>
                </div>
                <br>
            </form>
        </div>
        <div *ngIf="this.role === 'Administrator'">
            <div class="picker" (click)="toggleForm('userForm')">Bruger</div>
            <form *ngIf="isFormActive('userForm')" class="form" #userForm="ngForm" (ngSubmit)="createUser()">
                <div class="test">
                    <div class="form-label">
                        <label>Brugernavn: </label>
                    </div>
                    <p>&ensp;</p>
                    <input type="text" [(ngModel)]="user.username" id="userName" name="userName" #userName="ngModel"
                        required>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Navn: </label>
                    </div>
                    <p>&ensp;</p>
                    <input type="text" [(ngModel)]="user.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Brugerrolle:</label>
                    </div>
                    <p>&ensp;</p>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Brugerrole</mat-label>
                        <mat-select [(ngModel)]="user.userRole" name="userRole" #userForm="ngModel"
                            (selectionChange)="onRoleChange($event.value)">
                            <mat-option *ngFor="let role of userRole; let i = index" [value]="i">
                                {{role.replaceAll('_', ' ')}}
                            </mat-option>   
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="showEducationBoss" class="test">
                    <div class="form-label">
                        <label>Uddannelseschef:</label>
                    </div>
                    <p>&ensp;</p>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Uddannelseschef</mat-label>
                        <mat-select [(ngModel)]="user.educationBossId" name="educationBoss" #userForm="ngModel">
                            <mat-option *ngFor="let educationBoss of educationBosses; let i = index"
                                [value]="educationBoss.userId">
                                {{educationBoss.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="showEducationBoss" class="test">
                    <div class="form-label">
                        <label>Afdeling:</label>
                    </div>
                    <p>&ensp;</p>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Afdeling</mat-label>
                        <mat-select [(ngModel)]="user.departmentId" name="department" #userForm="ngModel">
                            <mat-option *ngFor="let department of departments; let i = index"
                                [value]="department.departmentId">
                                {{department.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="showEducationBoss" class="test">
                    <div class="form-label">
                        <label>Location:</label>
                    </div>
                    <p>&ensp;</p>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Location</mat-label>
                        <mat-select [(ngModel)]="user.locationId" name="location" #userForm="ngModel">
                            <mat-option *ngFor="let location of locations; let i = index" [value]="location.locationId">
                                {{location.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-button">
                    <button class="create-button" style="float: right;" type="submit" mat-raised-button color="primary">Opret</button>
                </div>
                <br>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('bookForm')">Bøger</div>
            <form *ngIf="isFormActive('bookForm')" class="form" #bookForm="ngForm" (ngSubmit)="createBook()">
                <div class="test">
                    <div class="form-label">
                        <label>Navn: </label>
                    </div>
                    <p>&ensp;</p>
                    <input type="text" [(ngModel)]="book.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Modul:</label>
                    </div>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Modul</mat-label>
                        <mat-select [(ngModel)]="book.moduleId" name="moduleId" #bookForm="ngModel">
                            <mat-option *ngFor="let module of modules; let i = index" [value]="module.moduleId">
                                {{module.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Mængde: </label>
                    </div>
                    <p>&ensp;</p>
                    <input type="number" [(ngModel)]="book.amount" id="amount" name="amount" #amount="ngModel" required>
                </div>
                <div class="form-button">
                    <button class="create-button" style="float: right;" type="submit" mat-raised-button color="primary">Opret</button>
                </div>
                <br>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('fileTagForm')">Filkategori</div>
            <form *ngIf="isFormActive('fileTagForm')" class="form" #fileTagForm="ngForm" (ngSubmit)="createFileTag()">
                <div class="test">
                    <div class="form-label">
                        <label>Navn: </label>
                    </div>
                    <p>&ensp;</p>
                    <input type="text" [(ngModel)]="fileTag.tagName" id="name" name="name" #name="ngModel" required>
                </div>
                
                <div class="test">
                    <div class="form-label">
                        <label>Synlighed:</label>
                    </div>
                    <app-filetag-multi-dropdown class="dropdown" style="width: 70%;" [fileTag]="fileTag"></app-filetag-multi-dropdown>
                </div>
                <div class="form-button">
                    <button class="create-button" style="float: right;" type="submit" mat-raised-button color="primary">Opret</button>
                </div>
                <br>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('courseForm')">Kursus</div>
            <form *ngIf="isFormActive('courseForm')" class="form" #userForm="ngForm" (ngSubmit)="createCourse()">
                <div class="test">
                    <div class="form-label">
                        <label>Modul:</label>
                    </div>
                    <p>&ensp;</p>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Modul</mat-label>
                        <mat-select [(ngModel)]="course.moduleId" name="course" #courseForm="ngModel">
                            <mat-option *ngFor="let module of modules; let i = index"
                                [value]="module.moduleId">
                                {{module.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Kursus Type:</label>
                    </div>
                    <p>&ensp;</p>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Kursus Type</mat-label>
                        <mat-select [(ngModel)]="course.courseType" name="courseType" #courseForm="ngModel">
                            <mat-option *ngFor="let type of courseType; let i = index" [value]="i">
                                {{type}}
                            </mat-option>   
                        </mat-select>
                    </mat-form-field>
                </div>                
                <div class="test">
                    <div class="form-label">
                        <label>Start Dato:</label>
                    </div>
                    <mat-form-field subscriptSizing="dynamic" class="datepicker">
                        <mat-label>Vælg en start dato</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="course.startDate"
                            id="startDatePicker" name="startDate" #startDate="ngModel">
                        <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker class="calendar" #startDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>                
                <div class="test">
                    <div class="form-label">
                        <label>Slut Dato:</label>
                    </div>
                    <mat-form-field subscriptSizing="dynamic" class="datepicker">
                        <mat-label>Vælg en slut dato</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="course.endDate"
                            id="endDatePicker" name="endDate" #hiringDate="ngModel">
                        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker class="calendar" #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-button">
                    <button class="create-button" style="float: right;" type="submit" mat-raised-button color="primary">Opret</button>
                </div>
                <br>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('locationForm')">Lokation</div>
            <form *ngIf="isFormActive('locationForm')" class="form" #locationForm="ngForm"
                (ngSubmit)="createLocation()">
                <div class="test">
                    <div class="form-label">
                        <label>Navn: </label>
                    </div>
                    <input type="text" [(ngModel)]="location.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="form-button">
                    <button class="create-button" style="float: right;" type="submit" mat-raised-button color="primary">Opret</button>
                </div>
                <br>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('personForm')">Underviser</div>
            <form *ngIf="isFormActive('personForm')" class="form" #personForm="ngForm" (ngSubmit)="createPerson()">
                <div class="test">
                    <div class="form-label">
                        <label>Navn: </label>
                    </div>
                    <input type="text" [(ngModel)]="person.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Initialer: </label>
                    </div>
                    <input type="text" [(ngModel)]="person.initials" id="name" name="initials" #initials="ngModel"
                        required>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Afdeling:</label>
                    </div>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.departmentId">Vælg afdeling:</mat-label>
                        <mat-select [(ngModel)]="person.departmentId" name="departmentId" #departmentId="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let department of departments" [value]="department.departmentId">
                                {{department.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Lokation:</label>
                    </div>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.locationId">Vælg lokation:</mat-label>
                        <mat-select [(ngModel)]="person.locationId" name="locationId" #locationId="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let location of locations" [value]="location.locationId">
                                {{location.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Pædagogisk konsulent:</label>
                    </div>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.educationalConsultantId">Vælg konsulent</mat-label>
                        <mat-select [(ngModel)]="person.educationalConsultantId" name="educationalConsultantUserId"
                            #educationalConsultantUserId="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let consultant of educationalConsultants" [value]="consultant.userId">
                                {{consultant.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Driftskoordinator:</label>
                    </div>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.operationCoordinatorId">Vælg Driftskoordinator</mat-label>
                        <mat-select [(ngModel)]="person.operationCoordinatorId" name="operationCoordinatorUserId"
                            #operationCoordinatorUserId="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let coordinator of operationCoordinators" [value]="coordinator.userId">
                                {{coordinator.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Start Dato:</label>
                    </div>
                    <mat-form-field subscriptSizing="dynamic" class="datepicker">
                        <mat-label>Vælg en dato</mat-label>
                        <input matInput [matDatepicker]="hiringDatePicker" [(ngModel)]="person.hiringDate"
                            id="hiringDatePicker" name="hiringDate" #hiringDate="ngModel">
                        <mat-datepicker-toggle matIconSuffix [for]="hiringDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker class="calendar" #hiringDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="test" style="flex-direction: row; padding-left: 14.5%;justify-content: flex-start;">
                    <div class="form-label" style="width: fit-content;margin-left: 5px;">
                        <label>SVU Berettiget:</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" [(ngModel)]="person.svuEligible" id="svuEligible" name="svuEligible"
                            #svuEligible="ngModel">
                    </div>
                </div>
                <div class="form-button">
                    <button class="create-button" style="float: right;" type="submit" mat-raised-button color="primary">Opret</button>
                </div>
                <br>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('moduleForm')">Modul</div>
            <form *ngIf="isFormActive('moduleForm')" class="form" #moduleForm="ngForm" (ngSubmit)="createModule()">
                <div class="test">
                    <div class="form-label">
                        <label>Navn: </label>
                    </div>
                    <input type="text" [(ngModel)]="module.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div class="test">
                    <div class="form-label">
                        <label>Beskrivelse: </label>
                    </div>
                    <input type="text" [(ngModel)]="module.description" id="description" name="description"
                        #description="ngModel" required>
                </div>
                <div class="form-button">
                    <button class="create-button" style="float: right;" type="submit" mat-raised-button color="primary">Opret</button>
                </div>
                <br>
            </form>
        </div>        
    </span>
    <div class="innerBox" *ngIf="resentlyCreated.length > 0">
        Nyoprettede personer:
        <div *ngFor="let created of resentlyCreated">
            <div (click)="personPicker(created.personId)" class="picker">
                <span>
                    Navn: {{created.name}}
                    Initialer: {{created.initials}}
                </span>
            </div>
        </div>
    </div>
</div>