<div class="grid">
    <span class="box">
        <div>
            <div class="picker" (click)="toggleForm('departmentForm')">Afdeling</div>
            <form *ngIf="isFormActive('departmentForm')" class="form" #departmentForm="ngForm"
                (ngSubmit)="createDepartment()">
                <div>
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="department.name" id="name" name="name" #name="ngModel" required>
                </div>
                <button style="float: right;" type="submit" mat-raised-button color="primary">Create</button>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('userForm')">Bruger</div>
            <form *ngIf="isFormActive('userForm')" class="form" #userForm="ngForm" (ngSubmit)="createUser()">
                <div>
                    <label>Brugernavn: </label>
                    <input type="text" [(ngModel)]="user.username" id="userName" name="userName" #userName="ngModel"
                        required>
                </div>
                <div>
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="user.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div>
                    <label>Role:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Brugerrole</mat-label>
                        <mat-select [(ngModel)]="user.userRole" name="userRole" #userForm="ngModel">
                            <mat-option *ngFor="let role of userRole; let i = index" [value]="i">
                                {{role}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button style="float: right;" type="submit" mat-raised-button color="primary">Create</button>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('bookForm')">Bøger</div>
            <form *ngIf="isFormActive('bookForm')" class="form" #bookForm="ngForm" (ngSubmit)="createBook()">
                <div>
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="book.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div>
                    <label>Mængde: </label>
                    <input type="number" [(ngModel)]="book.amount" id="amount" name="amount" #amount="ngModel" required>
                </div>
                <button style="float: right;" type="submit" mat-raised-button color="primary">Create</button>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('fileTagForm')">Fil-tag</div>
            <form *ngIf="isFormActive('fileTagForm')" class="form" #fileTagForm="ngForm" (ngSubmit)="createFileTag()">
                <div>
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="fileTag.tagName" id="name" name="name" #name="ngModel" required>
                </div>
                <button style="float: right;" type="submit" mat-raised-button color="primary">Create</button>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('locationForm')">Lokation</div>
            <form *ngIf="isFormActive('locationForm')" class="form" #locationForm="ngForm"
                (ngSubmit)="createLocation()">
                <div>
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="location.name" id="name" name="name" #name="ngModel" required>
                </div>
                <button style="float: right;" type="submit" mat-raised-button color="primary">Create</button>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('moduleForm')">Modul</div>
            <form *ngIf="isFormActive('moduleForm')" class="form" #moduleForm="ngForm" (ngSubmit)="createModule()">
                <div>
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="moduleForm.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div>
                    <label>Beskrivelse: </label>
                    <input type="text" [(ngModel)]="module.description" id="description" name="description"
                        #description="ngModel" required>
                </div>
                <div>
                    <label>Modul Type:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label>Vælg Modul Type</mat-label>
                        <mat-select [(ngModel)]="module.moduleType" name="moduleType" #userForm="ngModel">
                            <mat-option *ngFor="let type of moduleType; let i = index" [value]="i">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button style="float: right;" type="submit" mat-raised-button color="primary">Create</button>
            </form>
        </div>
        <div>
            <div class="picker" (click)="toggleForm('personForm')">Person</div>
            <form *ngIf="isFormActive('personForm')" class="form" #personForm="ngForm" (ngSubmit)="createPerson()">
                <div>
                    <label>Navn: </label>
                    <input type="text" [(ngModel)]="person.name" id="name" name="name" #name="ngModel" required>
                </div>
                <div>
                    <label>Initialer: </label>
                    <input type="text" [(ngModel)]="person.initials" id="name" name="initials" #initials="ngModel"
                        required>
                </div>
                <div>
                    <label>Afdeling:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.departmentId">Vælg afdeling:</mat-label>
                        <mat-select [(ngModel)]="person.departmentId" name="departmentId" #departmentId="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let department of departments" [value]="department.departmentId">
                                {{department.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label>Lokation:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.locationId">Vælg lokation:</mat-label>
                        <mat-select [(ngModel)]="person.locationId" name="locationId" #locationId="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let location of locations" [value]="location.locationId">
                                {{location.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label>Pædagogisk konsulent:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.educationalConsultantUserId">Vælg konsulent</mat-label>
                        <mat-select [(ngModel)]="person.educationalConsultantUserId" name="educationalConsultantUserId"
                            #educationalConsultantUserId="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let consultant of educationalConsultants" [value]="consultant.userId">
                                {{consultant.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label>Driftskoordinator:</label>
                    <mat-form-field subscriptSizing="dynamic" class="dropdown">
                        <mat-label *ngIf="!person.operationCoordinatorUserId">Vælg Driftskoordinator</mat-label>
                        <mat-select [(ngModel)]="person.operationCoordinatorUserId" name="operationCoordinatorUserId"
                            #operationCoordinatorUserId="ngModel">
                            <mat-option [value]="null">- Ingen -</mat-option>
                            <mat-option *ngFor="let coordinator of operationCoordinators" [value]="coordinator.userId">
                                {{coordinator.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label>Start Dato:</label>
                    <mat-form-field subscriptSizing="dynamic" class="datepicker">
                        <mat-label>Vælg en dato</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="person.hiringDate" id="hiringDatePicker"
                            name="hiringDate" #hiringDate="ngModel">
                        <mat-datepicker-toggle matIconSuffix [for]="hiringDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker class="calendar" #hiringDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <label>Slut Dato:</label>
                    <mat-form-field subscriptSizing="dynamic" class="datepicker">
                        <mat-label>Vælg en dato</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="person.endDate" id="endDatePicker"
                            name="endDate" #endDate="ngModel">
                        <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker class="calendar" #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <label>SVU Berettiget:</label>
                    <div class="checkbox">
                        <input type="checkbox" [(ngModel)]="person.svuEligible" id="svuEligible" name="svuEligible"
                            #svuEligible="ngModel">
                    </div>
                </div>
                <button style="float: right;" type="submit" mat-raised-button color="primary">Create</button>
            </form>
        </div>
    </span>
    <div class="box">
        Nylig opretet personer
        <div *ngFor="let created of resentlyCreated">
            <div (click)="personPicker(created.personId)" class="picker">
                <span>
                    Navn: {{created.name}}
                    Initialer: {{created.initials}}
                </span>
            </div>
        </div>
    </div>
</div>